[2020-06-23 23:13] prbsparx opened #685 "Add example showing patterns_dir usage"
**Describe the feature:**
Please add an example showing how to include custom patterns via patterns_dir

**Describe a specific use case for the feature:**
Complex logstash configs often share custom patterns across multiple filters/groks. It's not clear what the best way to do this is currently. Would be great to have an example.

[2020-06-23 23:47] jim-barber-he commented on #681
I'd like to add that the permissions check on the mounted token in the entrypoint script for ElasticSearch also needs to change.

It currently enforces a permission of 400 or 600 and will exit if that is not the case.
But the ElasticSearch containers do not run as the root user, so that permission on the mounted token means the IAM role details cannot be read.
For IAM roles for service accounts to

[2020-06-24 03:25] zffocussss commented on #492
same here. I am using helm v2.15.2

[2020-06-24 05:09] ttimasdf commented on #653
Since we are using helm charts, to be more specific, I have the following lines in my custom `values.yml`.

[code]

And deploy kibana with `helm install kibana elastic/kibana -f ./values.yml`. I'm using helm 3.x, if anybody using helm 2.x, you may need to use `helm install -n kibana ...etc`

beware that this parameter is added to Kibana configuration. **NOT** Elasticsearch config.

[2020-06-24 09:41] salaboy opened #688 "ElastichSearch cluster with single node failing to start"
**Chart version:**

7.5.1 + ES version 6.8.5

**Kubernetes version:**

v1.16.8-gke.15

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
GKE

**Helm Version:**
v3.1.2

**`helm get release` output**

[code]

</details>

**Describe the bug:**

Setting one replica to ElasticSearch cluster doesn't work as stated here: https://github.com/elastic/helm-charts/blob/master/elasticsearch/examples

[2020-06-24 10:58] ol-metaswitch opened #689 "Pods created by Elasticsearch chart require privileged container access"
**Chart version:**
7.7.0
**Kubernetes version:**
1.17.6
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
On Premises
**Helm Version:**
3.2.1
**Describe the bug:**
When deploying the Elasticsearch Helm Chart pods fail to start as they don't adhere to our default Pod Security Policy of not having privileged container access to the hosts. I don't think that a pod of this nature should req

[2020-06-24 11:12] fatmcgav commented on #689
@ol-metaswitch Thank you for opening an issue.

Looking at the error you included, this appears to be coming from one of the `initContainers`, specifically the `configure-sysctl` container:
https://github.com/elastic/helm-charts/blob/fa72b483f8b2476877a8490b32dcbcc5fc384b94/elasticsearch/templates/statefulset.yaml#L151-L161

As per the chart [README](https://github.com/elastic/helm-charts/tree/mas

[2020-06-24 11:18] salaboy commented on #688
I think this might be related to 6.8.5,
this can be solved by adding
[code]

[2020-06-24 11:22] ol-metaswitch commented on #689
Ah I see. I should've known it was just trying to stop me from shooting myself in the foot. Thanks for the clarification and solution.

[2020-06-24 11:22] #689 closed

[2020-06-24 11:27] fatmcgav commented on #688
@salaboy Yeh, so the settings required changed between 6.x and 7.x.

See the `6.8` example here: https://github.com/elastic/helm-charts/blob/6.8/elasticsearch/examples/config/values.yaml#L3-L5

We also recommend matching the major version of the chart to the major version of Elasticsearch you're running. So in this case, install the `6.8.10` chart version.

[2020-06-24 11:41] salaboy commented on #688
👍 I wonder then how examples can reflect that? @fatmcgav

[2020-06-24 11:44] fatmcgav commented on #688
@salaboy The examples for the `6.8` releases do reflect the correct configuration. However the `master` examples reflect the requirements of the current "default" release version.

So I guess the better question is: "How can we make the `6.8` branch more obvious?"

[2020-06-24 12:59] jmlrt commented on #688
Hey @salaboy,

We usually recommand using the [GitHub tag](https://github.com/elastic/helm-charts/tags) of the chart version you are using when checking docs to have documentation and examples accurate.
As the documentation and examples from git branches (especially `master` branch) are evolving in the same time as the chart are evolving.

In your case, as you are using 7.5.1 chart version, that w

[2020-06-25 12:59] mtruneck opened #691 "Readiness check doesn't wait for Green state"
**Chart version:** 7.8.0

**Short description:** Readiness probe passes even when the cluster is in RED state because of bash syntax error

**Long description:**
In the readiness probe in chart/templates (https://github.com/elastic/helm-charts/blob/master/elasticsearch/templates/statefulset.yaml#L262), the check for readiness is:

`if http "/_cluster/health?{{ .Values.clusterHealthCheckParams }}"

[2020-06-25 13:19] fatmcgav commented on #691
@mtruneck Thank-you for opening an issue.

Have you seen logs indicating that there is a quoting issue?

As the `readinessProbe` handling was reworked in #638 to solve a very similar issue, and now the `curl` command contains a double-quoted request URL:
https://github.com/elastic/helm-charts/blob/fa72b483f8b2476877a8490b32dcbcc5fc384b94/elasticsearch/templates/statefulset.yaml#L239

Are you able

[2020-06-25 17:13] jmlrt commented on #680
Hi @fsadykov, all our tests are OK with Kibana chart and we need more information to investigate.

Can you post the rest of the information requested in the [bug report template](https://github.com/elastic/helm-charts/issues/new?template=bug_report.md)?

[2020-06-26 05:19] shivoham77 opened #694 "Filebeat to kafka output does not work"
**Chart version: 6.8.11SNAPSHOT**

**Kubernetes version: client - 1.17 server- 1.15**

**Kubernetes provider: AWS EKS** E.g. GKE (Google Kubernetes Engine)

**Helm Version: 2.16.7**

**`helm get release` output

[code]

</details>

**Describe the bug:**

When installed, The pods do not run, not topic with logs sent to kafka. Kafka Modules not enabled.
in the pod "filebeat module list" kafka not pr

[2020-06-26 08:54] jmlrt commented on #627
closing this since #686 is merged

[2020-06-26 08:54] #627 closed

[2020-06-26 09:07] jmlrt commented on #681
@lambda-9 Thanks for submitting this request.

- Service account annotations have been implemented in #686
- Requests related to AWS SDK integration should be adressed to the products repositories (example elastic/elasticsearch#52625 for Elasticsearch)

Is there anything else required at Helm charts level or can we close this issue? (cc @jim-barber-he)

[2020-06-26 09:26] jmlrt commented on #456
This issue has no more activity.

I'm closing it, don't hesitate to reopen it if you have any question.

[2020-06-26 09:26] #456 closed

[2020-06-26 17:11] lambda-9 commented on #681
No, this can be closed. Thank you!

[2020-06-26 17:11] #681 closed

[2020-06-27 12:39] #501 closed

[2020-06-29 05:15] anshu14 opened #698 "Mutliple CVE vulnerabilities in the elasticsearch docker image(v7.7.1 & v7.8.0)"
**Chart version:** 7.7.1 & 7.8.0

**Kubernetes version:** 1.16.9

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine): AKS

**Helm Version:** v3.0.2

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before

[2020-06-29 07:25] jmlrt commented on #698
Hi @anshu14, thanks for reporting this issue. This charts are using the official Elasticsearch Docker images which are based on the latest CentOS 7 ([Dockerfile](https://github.com/elastic/dockerfiles/blob/7.8/elasticsearch/Dockerfile).

Can you create an issue to Elasticsearch repo using [this template](https://github.com/elastic/elasticsearch/issues/new?labels=%3Ebug%2Cneeds%3Atriage&template=bu

[2020-06-29 07:26] jmlrt commented on #698
I'm closing the issue as it's not related to the Helm charts themselves.

[2020-06-29 07:26] #698 closed

[2020-06-29 08:31] kernkonzentrat commented on #684
Could you please give some feedback, if this is feasible or not - we have to manually restart pods in production, whenever a configuration or secret changes.

[2020-06-29 08:52] fatmcgav commented on #684
@kernkonzentrat so according to https://github.com/pusher/wave/issues/59#issuecomment-526607098, `wave` will look for the annotations on the `Statefulset` aswell.

So you should be able to use the existing `podannotations` support.

Which charts were you looking at using with `wave`?

[2020-06-29 15:46] jmlrt commented on #694
Hi @shivoham77,
AFAIK `filebeat test output` doesn't work with Kafka output. When using Kafka output or some other output which doesn't support testing, you can override the `readinessProbe` value to check port 5066 instead.

[code]

[2020-06-29 16:18] jmlrt commented on #685
Hi @prbsparx,

I never used `patterns_dir` but looking quickly at the [doc](https://www.elastic.co/guide/en/logstash/current/plugins-filters-grok.html#plugins-filters-grok-patterns_dir), it seems to read some pattern config files in a specific directory.

I don't think this is something that you can do easily with Logstash chart.

I would suggest adding your pattern config files in a `ConfigMap` t

[2020-06-29 16:52] jmlrt commented on #694
#699 should add the workaround to the chart FAQ.

[2020-06-29 17:04] shivoham77 commented on #694
Okay, Thanks I will try.

[2020-06-29 19:18] #497 closed

[2020-06-29 20:15] shivoham77 commented on #694
If I want to use lower version of filebeat helm charts, trying with following command with --version flag, but it does not work.
How to use different version other than latest version ?

helm install -f values.yaml --version 3.1.0 --name  fb-logs  elastic/filebeat --namespace filebeat
Error: failed to download "elastic/filebeat" (hint: running `helm repo update` may help)

Thank you for the help

[2020-06-30 06:35] jmlrt commented on #694
`helm install --name filebeat --version 6.8.10 elastic/filebeat` is the way to go, 3.10 version never existed. You can see the existing versions in https://github.com/elastic/helm-charts/releases.

I was able to get some logs in kafka using:

[code]

[2020-06-30 07:03] shivoham77 commented on #694
Thank you for detailed explanation with demo.
I think that is because the values.yaml file does not mention what version of filebeat image so it would take latest version. That why it works. I have run it with 7.4.0 version it works and able to get logs.
But we want to use 6.8.10 or 6.8.11-SNAPSHOT to match  compatibility with other tools in combination.

True you had 3.1.0, But some how I got hol

[2020-06-30 07:26] jmlrt commented on #694
You can use `helm install --version 6.8.10 elastic/filebeat -f values.yaml` which is using `docker.elastic.co/beats/filebeat:6.8.10` image and is working with the values provided in the previous comment.

Note that `6.8.11-SNAPSHOT` image/charts and all images/chart ending by `-SNAPSHOT` are for development only. That's why you should always use some released version from [elastic/helm-charts/rele

[2020-06-30 13:42] fhaase2 opened #701 "Helm test does not include image pull policy"
The helm test does not get the image pull policy. Its not set at all. This can lead to issues.

[2020-06-30 17:16] AXington commented on #510
I guess this isn't going to be done?

[2020-07-01 07:46] erihanse opened #702 "Missing option to disable the daemonset in metricbeat"
**Chart version:**
7.8.0
**Kubernetes version:**
1.15.9
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
on-premise
**Helm Version:**
2.12.2

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[code]

</details>

**Describe the bug:**
Eearlier we have used the metricbeat chart from the stable repository, https://github.com/helm/charts/tree/master/st

[2020-07-01 10:02] kernkonzentrat commented on #684
@fatmcgav ...thanks for the reply. We're using metricbeat charts from `v7.7.1` - I already came across [pusher/wave/issues/#59](https://github.com/pusher/wave/issues/59) but `podannotations` won't work, as they only label the created `pods` within a `deployment`/ `daemonset`...`wave` only looks at the labels of a `deployment`/ `daemonset` / `statefulset` to support monitoring (at least in my under

[2020-07-01 17:28] bmilescu opened #703 "filebeat deployment in k8s failes to list nodes"
Chart version:
7.8.0
Kubernetes version:
v1.16.8
Kubernetes provider: E.g. GKE (Google Kubernetes Engine)
AWS EKS
Helm Version:
v3.2.4

Missing permission to list nodes:
`github.com/elastic/beats/libbeat/common/kubernetes/watcher.go:146: Failed to list *v1.Node: nodes "ip-x-x-x-x.us-west-2.compute.internal" is forbidden: User "system:serviceaccount:elastic:filebeat-filebeat" cannot list resource "

[2020-07-01 22:54] kksudo opened #705 "Support k8s helm secrets creation for logstash helm chart"
**Describe the feature:**
For convenient use of k8s secrets should add helm chart for create secrets.

**Describe a specific use case for the feature:**
Add secrets for using in k8s should be more convenient from the one logstash  helm chart.

<details>
  <summary>The helm chart for secret can looks like bellow</summary>

`secret.yaml`
[code]

`values.yaml`
[code]

</details>

[2020-07-02 07:24] jmlrt commented on #705
Hi @kksudo, thank you for submitting this request.

The current way is to manage secrets outside of the charts (which allow using something like [kube-vault-controller](https://github.com/roboll/kube-vault-controller) for the secret for example), then using `secretMounts` or `extraEnvs` to mount the secret.

You can find an example in [security example values](https://github.com/elastic/helm-chart

[2020-07-02 08:31] #703 closed

[2020-07-02 10:22] fatmcgav commented on #684
@kernkonzentrat Ah, ok...

In that case, and based on the [example](https://github.com/pusher/wave#quick-start) in the Wave docs, this should be a relatively trivial addition.

Something like adding this additional block:
[code]
after this line: https://github.com/elastic/helm-charts/blob/75263dd4776430d63c2b4cdb1b95be74cb385eaa/metricbeat/templates/deployment.yaml#L10

Also set a default value in

[2020-07-02 10:35] kksudo commented on #705
Hello!
You can give more freedom of choice for different cases (in my case, we adding the secrets from the vault to k8s via terraform). With default k8s secrets (adding via helm chart) or  via kube-vault-controller. If the logstashSecrets variable will be empty, helm secrets will not deployed .
But if this not make sense you could  close this issue.

[2020-07-02 13:36] jmlrt commented on #663
@elastic/logstash can you take a look at that issue? I reproduced it with `docker.elastic.co/logstash/logstash:7.9.0-SNAPSHOT` Docker image outside of Helm charts.

When running with `xpack.monitoring.enabled` (default config in Logstash Docker image), Logstash is failing with `With the default xpack.monitoring.elasticsearch.username, xpack.monitoring.elasticsearch.password must be set` error, whi

[2020-07-02 13:48] jsvd commented on #663
@colinsurprenant: this seems related to the new support for api keys in central management and monitoring done in https://github.com/elastic/logstash/pull/11864

[2020-07-02 14:10] jmlrt commented on #705
That make sense for me. It's definitely worth keeping in the bandwith, however we won't have any bandwith to work on this in short-term. Would you be interested to create a PR for it?

[2020-07-02 14:42] kksudo commented on #705
Yes, it's easy. I'll be doing **PR** soon.

[2020-07-02 14:53] kernkonzentrat commented on #684
@fatmcgav cool...will open the PR within the next few days 👍

[2020-07-02 16:14] colinsurprenant commented on #663
@jmlrt @jsvd I confirm this is a behaviour change in 7.9 - I added a check to make sure a password is explicitly set when either relying on the implicit default username or when setting an explicit username - in other works, when relying on basic auth a password must be set in 7.9.

I would have to dig back the reasoning for this but IIRC a user **must** have a password in ES and thus a passwordle

[2020-07-02 20:39] guptaalok20 opened #707 "Not able to add data nodes to existing master cluster"
Hi,

I successfully deployed ELK 7.7.1 cluster with TLS enabled using the default values for nodeGroup and roles which means i have cluster with 3 nodes with all roles assigned with cluster name "elasticsearch-new"

Now I need to add specific data nodes into this cluster. I changed the following:
nodeGroup: "data"
masterService: "elasticsearch-new-master" // Also tried without updating this in the

[2020-07-03 11:39] MATTI68 opened #709 "Error syncing catalog elastic"
When we try to add catalog to our rancher, we get the "Error syncing catalog elastic". Also our other rancher installation, where we had add this in the past, we get also this error.

[2020-07-03 11:59] fatmcgav commented on #709
@MATTI68 Thank you for opening an issue.

Unfortunately, we don't use Rancher internally, so wouldn't be able to provide any help or guidance on how to solve this issue.

I'd suggest investigating this further on Rancher's side first.

Feel free to update this issue if we can be of any further assistance.

[2020-07-03 12:10] MATTI68 commented on #709
We get this detail error:

"links": {
"exportYaml": "…/v3/clusterCatalogs/c-w48jc:elastic/exportyaml",
"remove": "…/v3/clusterCatalogs/c-w48jc:elastic",
"self": "…/v3/clusterCatalogs/c-w48jc:elastic",
"templates": "…/v3/templates?clusterCatalogId=c-w48jc%3Aelastic",
"update": "…/v3/clusterCatalogs/c-w48jc:elastic"
},
"name": "elastic",
"namespaceId": null,
"state": "refreshed",
"transitioning": "e

[2020-07-03 12:13] fatmcgav commented on #709
@MATTI68 Have you tried pointing at https://helm.elastic.co/ which is where the charts actually get published to?

[2020-07-04 05:08] james-choncholas commented on #518
Comment for activity

[2020-07-04 23:03] olakunleoladimeji opened #710 "Keystore secrets not recognized as strings"
**Chart version:** 7.8.0

**Kubernetes version:** v1.15.1

**Kubernetes provider:** Bare metal

**Helm Version:** v2.16.7

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting.*

*If you find some s

[2020-07-06 09:58] blurpy commented on #702
I would also like an option to disable the daemonset.

[2020-07-06 10:22] fatmcgav commented on #702
@erihanse thank you opening this issue.

You are correct in that this appears to be a functional gap between the 2 charts.

Would you be interested in opening a PR to add a flag to enable/disable both the deployment and the daemonset?

For backwards compatability reasons they will both need to default to enabled.

[2020-07-06 12:24] erihanse commented on #702
@fatmcgav sure, I'll give it a try :-)

[2020-07-06 12:28] fatmcgav commented on #702
@erihanse cool. We can provide feedback and pointers etc if you need any assistance.

[2020-07-07 11:28] morganchristiansson commented on #497
Worked around by adding:
[code]

Will be fixed in logstash 7.8.1 per #695 (just fantastic that you've added version number with fix as issue labels)

[2020-07-07 14:39] erihanse commented on #702
@fatmcgav I tried making sense of https://github.com/elastic/helm-charts/blob/master/CONTRIBUTING.md#submitting-a-pull-request, but I still wonder: will the changes be backported to older versions? We're currently on 7.3.2.

Another question: I can't make the test pass.
[code]

[2020-07-07 14:57] fatmcgav commented on #702
Yes, the changes will be backported from `master` into the current release branches, which as of today are `7.x`, `7.8` and `6.8`.
So this fix would land into either the next `7.8` patch release, or `7.9` minor release.

Hmm, that's strange. Let me see if I can run them...

[2020-07-07 16:17] fatmcgav commented on #702
@erihanse OK, I was able to reproduce the test failure you're seeing locally...

The volume gets mapped on this line: https://github.com/elastic/helm-charts/blob/75263dd4776430d63c2b4cdb1b95be74cb385eaa/metricbeat/templates/daemonset.yaml#L72

The important thing there is `.Release.Namespace`. Unless specified to `helm`, this will use whatever the configure `namespace` is within your local `kubect

[2020-07-07 16:18] kksudo opened #714 "[logstash] Reload k8s pod if the k8s secrets changed"
**Describe the feature:**
Restart k8s pod when secrets changed
Should to add `secretsechecksum` to the statefulset annotation.

**Describe a specific use case for the feature:**
We updated secrets which mounted to the statefulset, but pod know about the only old secrets, pod should be restarted as in the case of `logstash-config` changed.

I can prepare  the **PR**.

[2020-07-08 09:03] fatmcgav commented on #702
I've just merged #715 which includes a "fix" for the `namespace` issue.

[2020-07-08 10:14] jmlrt commented on #663
@colinsurprenant, @jsvd I agree that a password should be explicitely set when setting an explicit username, however IMO users should keep the possibility to use `xpack.monitoring` without basic auth with default config, so either the password check shouldn't apply when using the implicit username or `xpack.monitoring.elasticsearch.username` shouldn't have any implicit default value.

An alternati

[2020-07-08 10:37] jmlrt commented on #474
This is still relevant

[2020-07-08 12:33] jmlrt commented on #714
Hi @kksudo, that make sense. It would be great if you can do the PR for that 👍

[2020-07-08 12:35] kksudo commented on #714
Yes, it's easy. I'll be doing **PR** soon.

[2020-07-08 15:09] colinsurprenant commented on #663
@jmlrt @jsvd

- Was the actual monitoring working in the docker image < 7.9 using the provided config where monitoring was enabled by default thus using the default username but no password  ??? or was logstash just starting but reporting ES auth errors??

- I think the idea of having a default username is really silly but this has been the case for a while now. Maybe the check should be like this

[2020-07-08 15:34] jsvd commented on #663
@colinsurprenant up until 7.8.0 using monitoring didn't require setting a user or password, and none is sent if only `xpack.monitoring.enabled: true` is set in the logstash.yml:

[code]

So this is a regresssion.

[2020-07-08 15:56] colinsurprenant commented on #663
Make sense, let's fix it then.

[2020-07-08 16:42] dpkirchner commented on #247
Setting `healthCheckPath: /api/status` in `values.yaml` did the job for me. The probe in the latest chart is looking for HTTP responses with status 200 but `/app/kibana` (default) returns 302.

[2020-07-08 16:50] jmlrt commented on #556
Hi @alexgordonpandera,
I couldn't reproduce it:

<details>
<summary>Elasticsearch</summary>

[code]

</details>

<details>
<summary>Kibana</summary>

[code]

</details>

Could you give a little more details about your issue?

[2020-07-08 16:51] jmlrt commented on #531
This is still valid

[2020-07-08 16:53] jmlrt commented on #527
still  valid

[2020-07-08 16:53] jmlrt commented on #526
still valid

[2020-07-08 16:57] jmlrt commented on #511
Hi @iridian-ks, Thanks for submitting this feature request.
Do you think you could add a PR for it?

[2020-07-08 17:00] jmlrt commented on #506
Closing it as there is not enough details and no answer from author

[2020-07-08 17:00] #506 closed

[2020-07-08 17:18] colinsurprenant commented on #663
Pushed https://github.com/elastic/logstash/pull/12094

[2020-07-08 17:36] #694 closed

[2020-07-09 09:05] #702 closed

[2020-07-10 07:51] lishitiancn opened #719 "StatefulSetSpec ValidationError"
**Chart version:*7.8.0*

**Kubernetes version:*1.17*

**Kubernetes provider:*Kubernetes*

**Helm Version:*v3.2.0*

helm install logstash logstash-7.8.0.tgz

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(StatefulSet.spec): missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec

[2020-07-10 10:02] vpartington opened #720 "Support global.imageRegistry"
**Describe the feature:**

Many Helm charts allow the image registry to be configured globally, most through a value called `global.imageRegistry`:

https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml#L7
https://github.com/bitnami/charts/blob/master/bitnami/kafka/values.yaml#L7
https://github.com/helm/charts/pull/8465/files

**Describe a specific use case for the feature:*

[2020-07-10 16:34] jinlianch opened #721 "Start elasticsearch shows runAsUser breaks non-root policy"
**Chart version:**
7.8.0

**Kubernetes version:**
v1.18.3

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
Kubernetes

**Helm Version:**
v3.2.4

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[code]
</details>

**Describe the bug:**
[code]
Show error  container's runAsUser breaks non-root policy, then can not start elasticsearch.

**Steps to re

[2020-07-11 17:44] teebu opened #722 "how to create/deploy logstash with mapping template file"
Describe the feature:
Provide a way to load index templates, mappings

Describe a specific use case for the feature:
To allow things like setting a default index template, ILM, mappings etc etc.

I know one suggested way is to use postStart script in ES, but that's not a good solution. I know you can include a template parameter in logstash, how do I copy that template from my helm deploy? Is that

[2020-07-13 02:36] jinlianch commented on #721
Wrong setting.

[2020-07-13 02:36] #721 closed

[2020-07-13 12:37] jmlrt opened #725 "Kibana is failling with 7.9.0-SNAPSHOT and 8.0.0-SNAPSHOT images and default values"
Kibana [7.x](https://devops-ci.elastic.co/job/elastic+helm-charts+7.x+integration-kibana/99/) and [master branch](https://devops-ci.elastic.co/job/elastic+helm-charts+master+integration-kibana/578/) tests are failing.

Kibana fell in `CrashLoopBackOff` with the following logs:

[code]

[2020-07-13 13:01] jmlrt commented on #720
Hi @vpartington,
I'm not sure to get the point of this `global.imageRegistry` value. You already can use the `image` value for that:

https://github.com/elastic/helm-charts/blob/9c878167a95898062d845df1815bb6f8cb2e1c88/elasticsearch/values.yaml#L53

If you are copying `docker.elastic.co/elasticsearch/elasticsearch:7.6.2` Docker image to your ECR registry, you just need to override this value with

[2020-07-13 13:04] jmlrt commented on #719
Hi @lishitiancn,
This is fixed by https://github.com/elastic/helm-charts/pull/695 which will be released with 7.8.1.
Note that Helm 3 is still not officially supported as stated in https://github.com/elastic/helm-charts#helm-versionshttps://github.com/elastic/helm-charts#helm-versions

[2020-07-13 13:04] #719 closed

[2020-07-13 13:06] jmlrt commented on #707
Hi @guptaalok20,

In order to help you, we need more details. Can you post all the details required in https://github.com/elastic/helm-charts/issues/new?template=bug_report.md?

[2020-07-13 13:07] jmlrt commented on #701
Hi @fhaase2, can you be more explicit about how this can lead to issues?

[2020-07-13 13:09] jmlrt commented on #684
Closing as #713 was merged

[2020-07-13 13:09] #684 closed

[2020-07-13 13:13] jmlrt commented on #629
Closing it as there is no answer and we can't reproduce it.

[2020-07-13 13:13] #629 closed

[2020-07-13 13:34] jmlrt commented on #510
Hi @AXington,

There is recurring requests for that feature. The last one is https://github.com/elastic/helm-charts/pull/452. We'll study it at some time but it is not a priority for us.

As for myself, I would prefer staying with the current behavior which add a lot of flexibility with the architecture you want to use, but also upgrade procedure (can do blue/green by adding a new release to the c

[2020-07-13 13:38] fhaase2 commented on #701
Yes sure. When i run `helm test` it starts the container that is specified here:

[code]

ImagePullSecret is set and also the image name. But image pull policy is not. If i set a specific pullPolicy on the main values, it does not forward these to the test. Running `helm test` will fail, because image cannot be pulled for example.

[2020-07-13 13:53] jmlrt commented on #574
closed by #387

[2020-07-13 13:53] #574 closed

[2020-07-13 14:17] jmlrt commented on #701
I don't get it, `imagePullPolicy`, allow you to specify if the image should be pulled everytime or reuse the existing one when it is already present on the K8S node.

In any case the image will be pulled if it's not existing on the node. Also as the Helm test container is running a simple curl command, it doesn't really mater having an up to date image or not (note that we don't use `latest` tag f

[2020-07-13 14:47] #426 closed

[2020-07-14 07:03] debojitkakoti commented on #611
/assign
Can I work on this issue? If it is not merged.

[2020-07-14 18:58] colinsurprenant commented on #663
the fix was merged fro 7.9.0, let me know if it fixes on your end  @jmlrt !

[2020-07-14 19:41] fhaase2 commented on #701
Okay let me explain it more precisely. In one project i use the elasticsearch chart as a dependency. I added it through `requirements.yaml`.

And in this project we make use of helm tests for other components. Whenever i run `helm test` on the umbrella chart, it runs all test of the components, including the elasticsearch test. On local development (running kubernetes with docker for mac) `imagePu

[2020-07-14 21:02] iridian-ks commented on #511
Sure, been busy but can circle back in a couple weeks.

[2020-07-15 09:56] jmlrt commented on #701
Thanks for the aditional context. That make sense. Adding `imagePullPolicy` to test pod should be relatively easy. Do you think you can create a PR for that?

[2020-07-15 10:00] jmlrt commented on #663
Logstash test is OK with the new `7.9.0-SNAPSHOT` image => [elastic+helm-charts+7.x+integration-logstash](https://devops-ci.elastic.co/view/Helm%20Charts/job/elastic+helm-charts+7.x+integration-logstash/).

Thank you for fixing it ❤️

[2020-07-15 10:00] #663 closed

[2020-07-15 10:23] #714 closed

[2020-07-15 15:03] #701 closed

[2020-07-15 19:53] camerondavison commented on #453
Is this a good place holder issue for the support coming later? I have been watching it to see when it comes

[2020-07-16 04:04] jmlrt commented on #453
Yes it is, despite we don't plan to work on it in short/mid-term unless someone submit a PR.

[2020-07-16 09:37] jmlrt commented on #611
Closed by #726

[2020-07-16 09:37] #611 closed

[2020-07-16 11:33] jmlrt commented on #644
Hi @brandoncollins7, it seems this is the standard behavior of Minikube.

I could reproduce is with Elasticsearch chart but also using a simple Nginx StatefulSet:

[code]

Regarding [Minikube Persistent Volumes doc](https://minikube.sigs.k8s.io/docs/handbook/persistent_volumes/), it seems that Minikube VM only persist storage for `hostPath` and some specific directories which don't seem compatible

[2020-07-16 12:09] jmlrt commented on #388
Hi @brandoncollins7, as mentionned in https://github.com/elastic/helm-charts/issues/644 this seem to be an issue related to Minikube.

[2020-07-16 12:23] jmlrt commented on #644
One workaround with single node Elasticsearch (`replicas: 1`) could be to disable VolumeClaimTemplates and add an `extraVolume`:

[code]

[2020-07-16 14:36] jmlrt commented on #492
Hi @sot001,
I couldn't reproduce your issue:
[code]

[2020-07-16 14:41] jmlrt commented on #492
Also comparing the StatefulSet template generating with 7.5.1 and 7.6.0 releases and your values, I don't see any difference that could generate a "cannot patch"  issue.

[code]

Did you change anything in your values during the upgrade?

[2020-07-16 14:42] jmlrt commented on #492
Note that I'm doing these tests with Helm 3.2.4

[2020-07-16 16:16] jmlrt opened #733 "[metricbeat] Follow migration from kube-state-metrics charts out of stable repo"
Metricbeat chart currently use [kube-state-metrics](https://github.com/helm/charts/tree/master/stable/kube-state-metrics) chart as subchart to get metrics from K8S.

As [Stable repo](https://github.com/helm/charts/tree/master/stable/) will be deprecated in November 2020 (see [Deprecation timeline](https://github.com/helm/charts#deprecation-timeline)), kube-state-metrics chart will need to migrate

[2020-07-16 16:58] jmlrt commented on #412
Hi @krichter722, I just noticed that you closed #414. Is this still an issue and should we investigate on it or can we close it?

[2020-07-16 20:12] krichter722 commented on #412
@jmlrt Based on my understanding for which I'm not reliable :) the problem is caused by a misunderstanding of usage of `helm upgrade --force`. It shouldn't be used in some cases and it should be checked by the caller whether it is feasible or should be avoided.

So far, I don't have a good strategy how to do this check. For my projects I created e2e test which are simulating helm upgrades without

[2020-07-17 06:02] #573 closed

[2020-07-17 06:12] jmlrt commented on #518
This make sense but we won't have time to work on it in short/mid-term.

[2020-07-17 06:15] jmlrt commented on #725
This is fixed since July 14th ([7.x job](https://devops-ci.elastic.co/job/elastic+helm-charts+7.x+integration-kibana/102/) and [master job](https://devops-ci.elastic.co/job/elastic+helm-charts+master+integration-kibana/582/)).

[2020-07-17 06:15] #725 closed

[2020-07-17 06:24] kfirfer commented on #312
Have the same problem, replicas 1 doesnt helped
chart version: 7.7.1
helm: 3

[2020-07-17 10:44] #412 closed

[2020-07-17 11:55] jmlrt opened #734 "[meta] Push Docker images used by CI to Elastic registry"
CI jobs are using [helm-charts](https://github.com/elastic/helm-charts/tree/master/helpers/terraform/Dockerfile) and [helm-tester](https://github.com/elastic/helm-charts/blob/master/helpers/helm-tester/Dockerfile) Docker images.

These images are built locally on CI workers by every test jobs.

`helm-charts` images is taking 4 minutes to build while `helm-tester` images is taking 1 minute to build

[2020-07-17 15:36] #486 closed

[2020-07-24 16:32] teebu opened #745 "What setting to stop logstash to not output events to stdout?"
I'm using helm charts with logstash, but the event is being displayed in the console log even though I disabled the output debug clause.

My logstash conf is:

[code]

previously I was seeing double of this:

[code]

After commenting out stdout, I'm still seeing the single event, I expect not to see any events in the log.

[code]

I'm still seeing this in the docker log console (stdout - default o

[2020-07-24 20:16] teebu commented on #745
It turns out there is a default pipeline, that was causing the issue, it was intercepting my pipeline event and throwing it to the stdout.

 cat logstash.conf
[code]

[2020-07-24 20:16] #745 closed

[2020-07-24 21:22] teebu opened #746 "Multiple pipeline supported (pipelines.yaml)"
This should be added to the docs somewhere.

**Describe the feature:**
Usage of pipelines.yaml and to specify pipeline.id and path.

**Describe a specific use case for the feature:**
To be able to run multiple pipelines https://www.elastic.co/guide/en/logstash/current/multiple-pipelines.html

After declaring your pipelines, modify the config to point to the files:

[code]

[2020-07-25 02:59] teebu commented on #722
As a workaround, I'm using the `--set-file` in the Makefile to pass the template.

[2020-07-25 15:42] joshuacox opened #747 "The Secret "slack_hook" is invalid: metadata.name"
**Chart version:**

**Kubernetes version:**
v1.18.6

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)

bare-metal

**Describe the bug:**

Followning the official example results in error about DNS-1123

[code]

**Steps to reproduce:**

1. create a secret with an underscore in it's name
2. view the error

**Expected behavior:**

To be able to create secrets for the snapshotting plugins

[2020-07-26 04:40] fabioqcorreia commented on #317
Up

[2020-07-26 11:50] varshabhijeet opened #748 "Logstash values.yaml file"
In this there is no provision for entry for elsaticsearch url .

[2020-07-27 06:39] #592 closed

[2020-07-27 10:25] harsh4870 opened #750 "Elasticsearch Production Ready helm chart"
i have simply deployed ES helm chart just by changing version to 7.3.2 it's working well.

Just want to confirm here is this chart production-ready. i can see three nodes are there and all are `master` and `data` nodes both together.

https://github.com/elastic/helm-charts/tree/master/elasticsearch

Is it a good way to go with or should i install another release of helm chart for data nodes as men

[2020-07-28 01:32] ados1991 commented on #557
i agree with @nerddelphi, also any update ?

[2020-07-28 08:50] harsh4870 commented on #142
i have tried adding GCS service account key in keystone but getting error

created kubernetes secret and added file into it and added secret into keystore

but pod are crashing also my i am using custom docker image with plugin installed but getting error like :

[code]
created secret using

`kubectl create secret generic gcs-backup-key --from-file=gcs_backup_key.json=gcs_backup_key.json`

i want

[2020-07-28 17:13] poor-bob opened #761 "Dynamic refreshing of nginx, php-fpm, etc., hosts in a dynamic environment like kubernetes"
Hosts need to be dynamic in an environment like Kubernetes.

In my use case, I needed php-fpm and nginx to have a dynamic list of IP addresses (endpoints) because my nginx/php pods are refreshed with every deployment.

Example:
[code]

Was not good enough. The metricbeat stubstatus requests were routed through the service load balancer.

[2020-07-28 17:21] poor-bob commented on #761
You can actually achieve this with how well designed the chart architecture is. Props for that. I'm not sure if a solution like this could be baked in to metricbeat, but for those needing the solution now, this is what I ended up doing:

hot reloading in deployment.metricbeatConfig.metricbeat.yml:
[code]

A shared volume to allow the sidecar container to modify files that metricbeat can monitor fo

[2020-07-29 02:05] joshuacox commented on #747
Is there anyone out there who can help on this issue?  Surely I'm not the only one trying to do backups/snapshots.

[2020-07-30 07:15] ebuildy commented on #750
The best practice is to have dedicated master nodes (at least 3), then data nodes.

There are some examples at https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/multi

[2020-07-30 08:32] harsh4870 commented on #750
@ebuildy  Thankyou so much for answer sure i will look into it. Also i would to ask another question regarding Snapshot (Backup/Restore).

Right now i am running single POD ES cluster on K8s, now i thinking to migrate data to new cluster with 3 master and data node.

On Single POD side if i take file `FS` backup and upload it to GCS bucket repository. Same repository manage and registered with new

[2020-07-30 16:22] hallsamuel90 commented on #589
I'm running into a similar issue. Everything works with the default username:password but when I exec into the container to change the password, I am getting Failed to establish SSL connection error. any ideas?

[2020-08-01 03:06] fabioqcorreia commented on #317
So I've managed to work through this extracting the old [stable/heartbeat](https://hub.helm.sh/charts/stable/heartbeat) repo using `helm pull stable/heartbeat .` then changing image version to 7.8.0. Of course this ain't the best option, but still worked for me. Some issues found while using this: secretMounts does not work and many other functions, needs to update Chart.yaml of course.

[2020-08-03 01:27] laevilgenius opened #765 "[logstash] Invalid ports in headless service"
**Chart version: 7.8.1**

**Kubernetes version: 1.18**

**Helm Version: 3.3.0-rc.2**

Logstash headless service uses container ports from `.Values.extraPorts` which are incompatible with the service spec.

[2020-08-03 10:03] baniga commented on #453
Is there any workaround for this? I do need to expose our Logstash API via an internal load balancer.

[2020-08-04 08:28] ebuildy commented on #765
Hello,

it seems there is ``httpPort``: https://github.com/elastic/helm-charts/blob/master/logstash/templates/service-headless.yaml#L20

[2020-08-04 08:30] ebuildy commented on #750
Hello,

Sure this will work.

Also, with k8s, you can re-use the volume with the new cluster, elasticsearch will load shard from it, then load balance it to other nodes.

Pay attention to have the same cluster name, and PVC naming.

[2020-08-04 08:30] ebuildy commented on #750
You can close the issue by the way!

[2020-08-04 08:31] ebuildy commented on #748
This setting is for logstash pipeline, not for the Helm chart values.yaml.

You can define pipeline here https://github.com/elastic/helm-charts/blob/master/logstash/values.yaml#L18 .

[2020-08-04 08:40] ebuildy commented on #707
Can you check that the generated ``statefulset.yaml`` contains the right ``discovery.seed_hosts`` (according to https://github.com/elastic/helm-charts/blob/master/elasticsearch/templates/statefulset.yaml#L306).

Also, can you ``curl http://elasticsearch-new-master-headless:9200`` from a data container?

[2020-08-04 08:41] #750 closed

[2020-08-04 09:00] ebuildy opened #766 "monitore elasticsearch cluster with metricbeat"
**Describe the feature:**

Some Helm charts, provide monitoring with the application, (the most famous is "prometheus exporter"). By example, https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch .

Since elastic has a product ``metricbeat`` , what about to propose a metricbeat instance as cluster side

**Describe a specific use case for the feature:**

Monitore ES cluster in product

[2020-08-04 11:23] laevilgenius commented on #765
I meant this part:
https://github.com/elastic/helm-charts/blob/c5660f410ca108c05ce884d257639d77d55fb89a/logstash/templates/service-headless.yaml#L21-L23
https://github.com/elastic/helm-charts/blob/c5660f410ca108c05ce884d257639d77d55fb89a/logstash/values.yaml#L156-L159

[2020-08-04 12:23] ebuildy commented on #765
What is the problem exactly? service supports multi-ports.

[2020-08-04 12:37] laevilgenius commented on #765
`.Values.extraPorts` is a container port [spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core) used in statefulset:
https://github.com/elastic/helm-charts/blob/c5660f410ca108c05ce884d257639d77d55fb89a/logstash/templates/statefulset.yaml#L151-L156

Service has a different [spec ](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#servic

[2020-08-05 13:06] disaster37 commented on #765
+1

[2020-08-05 13:20] BlackDark commented on #273
Run into similar problems. ELASTIC_USERNAME env was without effect for me. Was always `elastic` so i kept it for solving the readiness check in k8s. After that the node started up and i was able to connect kibana and log in with `elastic` user.

[2020-08-07 09:56] autarchprinceps commented on #765
The non-headless service uses .Values.service.ports, which is what the headless service also needs to use.

[2020-08-08 07:45] #552 closed

[2020-08-09 08:38] harsh4870 opened #771 "Baic authentication ES clutser in production"
i want to set basic authentication only username:password to ES clutser. i have created kubernetes secret and added in `values.yaml` file also added `xpack.security.enabled: true`.

my web app would be sending request over simple HTTP only.

Please let me know if it is possible just set basic authentication username: credentials without setting up SSL transport layer security.

**UPDATE**

i am do

[2020-08-09 11:15] dunefro commented on #273
@BlackDark
Yes, that worked for me too, I made the user with a different name and i got the same issue. I switched back to the name `elastic` and it worked for me.

[2020-08-09 14:30] joshuacox commented on #747
_bump_

[2020-08-09 23:03] teebu opened #772 "How to resize ES storage volume?"
I know resizing volumes is possible, but is there a suggested method for resizing a volume for an ES cluster? Is that a feature that can be added to the chart?

Changing the volumeClaimTemplate storage size throws the error:

```Error: UPGRADE FAILED: cannot patch "elasticsearch-master" with kind StatefulSet: StatefulSet.apps "elasticsearch-master" is invalid: spec: Forbidden: updates to statefuls

[2020-08-10 06:25] nikitakazantsev12 opened #773 "Create Kibana livenessProbe"
I would like to suggest an implementation of a livenessProbe into the chart. Might be useful for this or that use case.

[2020-08-10 06:28] michaelhyatt opened #774 "Metricbeat deployment doesn't allow to define `hostNetwork: true`"
**Chart version:**
7.8.1

Metricbeat DaemonSet allows setting `hostNetwork: true`, but deployment doesn't support setting this option.

See the Metricbeat K8s manifest for deployment where this option can be specified:
https://github.com/elastic/beats/blob/master/deploy/kubernetes/metricbeat/metricbeat-deployment.yaml

[2020-08-10 08:56] harsh4870 commented on #159
When generating certs and adding into cluster it's only working with `curl --insecure` mode HTTPS protocol. i am not sure web server or web client would be able to query ES than.

Is there anything i am missing? i have not expose my ES cluster it's running internally inside K8s.

[2020-08-10 09:23] carlmacdiarmada opened #775 "cannot deploy elasticsearch to kubernetes"
Hi,

I've been trying to deploy elasticsearch to helm using kubernetes, but I keep getting an exit code 6 or 7 failure after 10seconds. when I get the logs its simply

[code]

this is using the vanilla helm chart from your repo, no changes, on AKS and on prem kubernetes cluster..

output of describe

[code]

Thanks

[2020-08-10 10:07] sot001 commented on #492
Hi @jmlrt

I ran my upgrade with Helm 3.0.2 so perhaps there has been a change in the way helm handles stateful sets with 3.2.x?

I didn't change anything in my values from what is stated above.

[2020-08-10 10:38] sot001 commented on #492
My chart was initially launched with helm v2 and migrated via the 2to3 plugin. Whilst it all seemed to migrate ok, perhaps this introduced the problem I am seeing.

So unless other reporters above are seeing the same issue, I think it's not worth spending any more time on it given you can't recreate it and mine may be an edge case.

[2020-08-10 18:02] psychohamster commented on #312
How did you 'disable' it? I tried just overriding it in the values.yaml but that breaks helm upgrade as in this issue: https://github.com/helm/helm/issues/6002

[2020-08-12 02:32] itssimon commented on #765
This issue prevents the Logstash Helm chart to be used when extra ports need to be opened (e.g. for a Beats input). I just submitted a PR to address it as suggested by @autarchprinceps.

Can this please be merged and released ASAP so that the chart becomes usable again?

[2020-08-12 05:29] Arnaud-Francois-Fausse commented on #775
Same problem, the deployment hangs as shown below.
The log of the first pods is:
Error from server (BadRequest): container "elasticsearch" in pod "elasticsearch-master-0" is waiting to start: PodInitializing

Console display :

NAME:   elasticsearch
LAST DEPLOYED: Wed Aug 12 04:57:11 2020
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v1/Pod(related)
NAME                    READY  STATUS   RE

[2020-08-12 11:36] erihanse opened #777 "Support creating k8s helm secrets for metricbeat helm chart"
**Describe the feature:**
Similar to #705 it would be nice to have this in the metricbeat chart as well. Then we can put in the certificate to elasticsearch there, as was done in https://github.com/helm/charts/blob/master/stable/metricbeat/templates/secret.yaml.

[2020-08-13 19:28] sanvir10 commented on #772
I have the same question

[2020-08-13 19:44] sanvir10 commented on #771
With this steps we enable xpack security without SSL on Google Kubernetes Engine.

1.- Edit config.yml add
[code]

2.- Create credentials on GKE
[code]
* Change $password *

3.- Install on GKE
[code]

I hope this help, i haven't SSL on my cluster.

[2020-08-13 21:52] sanvir10 commented on #771
Or maybe you are using
[code]
And not
[code]

Check [SSL/TLS](https://www.elastic.co/guide/en/elasticsearch/reference/master/configuring-tls.html#node-certificates)

[2020-08-14 01:10] teebu opened #779 "How to setup ES/Kibana with nginx ingress and SSL enabled?"
I followed the `secure` example, and installed nginx ingress, but I can't seem to get it working with nginx. Without the TLS, I can connect to it, using http://es.

I'm able to port-forward connect to https://es:9200 but not directly through nginx. I suspect it's trying to connect to https on port 443, but ES https is running on 9200.

I tried a few things, none of them worked. Does anyone advice

[2020-08-14 03:11] harsh4870 commented on #771
@sanvir10 thanks working well. how about

[code]
you must be commenting `http.ssl`

[2020-08-14 03:46] melissajenner22 opened #780 "Readiness probe failed: Error: Got HTTP code 503 but expected a 200"
**Chart version:**
7.7.1
**Kubernetes version:**
1.16
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
EKS
**Helm Version:**
2.16.10

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting

[2020-08-14 04:04] melissajenner22 opened #781 "error=>"Elasticsearch Unreachable: [http://elasticsearch:9200/]"
**Chart version:**
7.7.1
**Kubernetes version:**
1.16
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
eks
**Helm Version:**

2.16.10
**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting

[2020-08-14 06:39] fatmcgav commented on #781
@melissajenner22 this looks like a config issue.

Is there an elasticsearch deployment in the same namespace?

Can you provide the output of `kubectl get pods` and `kubectl get services`?

[2020-08-14 16:46] melissajenner22 commented on #781
[code]

A side question. How to enable EXTERNAL-IP (loadBalancer)?

[2020-08-14 21:27] melissajenner22 opened #783 "elastic/helm-charts/elasticsearch: Readiness probe failed: Waiting for elasticsearch cluster to become ready"
**Chart version:**
7.7.1
**Kubernetes version:**
1.16
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
EKS
**Helm Version:**
2.16.10

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting

[2020-08-14 22:09] sanvir10 commented on #771
@harsh4870 Can you share how are you creating elastic-certificates.p12?

I did this steps but i get error

1.- bin/elasticsearch-certutil ca      **I used bin/elasticsearch from local folder maybe here is the error**
2.- bin/elasticsearch-certutil cert --ca elastic-stack-ca.p12
3.- I Uploaded the **elastic-certificates.p12** to secrets on GKE
4.- Edit the yml
[code]

[2020-08-14 22:16] melissajenner22 commented on #783
I deleted 7.7.1, installed 7.8.1. I got same error.

Error:
Readiness probe failed: Waiting for elasticsearch cluster to become ready (request params: "wait_for_status=green&timeout=1s" )

I use the chart, https://github.com/elastic/helm-charts, version 7.8.1 to install elasticsearch into kubernetes cluster.
helm version: 2.16.10
Kubernetes version: 1.16 (EKS)

I use default settings, except chang

[2020-08-15 14:34] kbintermx opened #784 "Rename for Fork Use Case"
**Describe the feature:**

As a technologist, I would like to fork the elastic helm charts in a matter that avoids ambiguity within my company's account, so that I may manage our helm-k8s based elastic deployment, contribute PRs back, and not create confusion as to the scope of the "helm-charts" project within our github account.

**Describe a specific use case for the feature:**

When forking, th

[2020-08-15 15:30] fatmcgav commented on #784
@kbintermx once you have forked the repo, it should be possible to rename your fork under the repo settings.

However I believe GitHub will set up automatic redirects, so you may well not be able to reuse the `helm-charts` repo name.

[2020-08-15 15:36] kbintermx commented on #784
Thanks @fatmcgav. This worked perfectly. And the loss of use for "helm-charts" is okay for the same reason prompting me to raise an issue.

Closing this now.

[2020-08-15 15:36] #784 closed

[2020-08-15 16:33] harsh4870 commented on #771
created certificate with using make command only

https://github.com/elastic/helm-charts/blob/master/elasticsearch/examples/security/Makefile

[code]

[2020-08-15 22:17] #563 closed

[2020-08-17 03:58] #771 closed

[2020-08-17 06:11] caiconkhicon opened #785 "apm-server: Run as non-root user"
**Describe the feature:**
I want to run apm-server as a non-root user, same as described here: https://github.com/helm/charts/pull/18366

Currently, if I set `podSecurityContext`, the Pod fails with the error:
[code]

[2020-08-17 10:25] vikas4cloud commented on #783
is this happening if you edited anything in the helm-charts/elasticsearch/values.yaml file

[2020-08-17 18:29] melissajenner22 commented on #783
Instead of use local source code I cloned from github.com/elastic/helm-charts, I use the command below to install elasticsearch,
[code]

[2020-08-17 20:35] kudrew commented on #780
I have a similar issue on GKE: exposing the service for Kibana (Nodeport/ LoadBalancer) via Ingress because the health check keeps failing on v.7.8.1 (presumably hitting "/" receives error 302, but "/app/kibana" gives 200. The path that the health check looks for  is "/").

[code]

[2020-08-17 20:39] kudrew commented on #781
On GKE, you can create a service of type LoadBalancer or change the value of service in Chart.yaml from ClusterIP to LoadBalancer. (This will open up your FW unless you give it the proper annotations to make the LB internal and specify a Source Range and expose the service with an Ingress)

[2020-08-17 21:15] melissajenner22 commented on #780
In helm-charts/elasticsearch/values.yaml, at line 236, I changed / to /app/kibana (Note: helm version 2.16.10. Kuberketes version 1.16 (eks))

[code]
Which file and line did you mean to change / to /app/kibana?

[2020-08-17 21:36] sanvir10 commented on #771
Thanx so much, i see whats is my problem.

I have 7 nodes on my cluster(3 master, 2 data and  2 clients) but each group have diferent pod name:
1- elasticsearch-master
2.-elasticsearch-data
3.-elasticsearch-client

I did some change to the script

*from*
[code]
*to*
[code]

But this don't work yet :(.

[2020-08-18 06:43] harsh4870 commented on #771
@sanvir10  i am not 100% sure about issue but i followed this article only in comment someone suggested to use kubernets svc as DNS name.

https://pimwiddershoven.nl/entry/deploy-a-secure-instance-of-elasticsearch-on-kubernetes

please you can look it once

[2020-08-19 07:53] acartapanis commented on #765
+1

[2020-08-19 13:27] aggarwalShivani opened #792 "Support for helm rollback?"
**Context:** Support for version downgrade of elasticsearch
Acc to the elastic [docs](https://www.elastic.co/guide/en/elasticsearch/reference/7.8/rolling-upgrades.html), in order to downgrade elasticsearch version, the suggestion is - to backup the data using snapshot before upgrade. Reinstall an empty cluster of the version before the upgrade, and restore its contents from a snapshot.

**Issue:**

[2020-08-19 15:28] fabio-filho commented on #772
@jmlrt , do you know if it is possible?

[2020-08-20 00:30] sanvir10 commented on #771
@harsh4870  thanks so much i will che it.

Regards

[2020-08-20 16:09] jnbelo commented on #453
Since this seems to be something some people require, I decided to submit a PR. (Sorry for taking months to actually do it, but at the time, I ended up not requiring this feature in my project)

[2020-08-20 20:32] ksanchez15 commented on #588
@nodesocket Hey why did you close it? Were you able to fix it? I'm having the same issue

[2020-08-20 20:48] nodesocket commented on #588
@ksanchez15 `kubectl top nodes` does not show the amount of cpu allocated with `requests`. It just shows the current cpu usage. Try using:

[code]

And look for:

[code]

[2020-08-24 09:22] es1o commented on #781
I have the same problem. I use standalone logstash helm chart and it is trying to connect elasticsearch:9200 because of license. How can I disable that check?

[2020-08-24 09:26] twobombs opened #796 "HELM chart import in Rancher fails because of CAPS in 8.0.0-SNAPSHOT naming"
**Chart version:**
8.0.0-snapshot from master
**Kubernetes version:**
1.8.x
**Kubernetes provider:**
Rancher 2.4

**Helm Version:**
2 ( 3 gives the same error )

**Describe the bug:**
<img width="1370" alt="Screenshot 2020-08-24 at 11 19 49" src="https://user-images.githubusercontent.com/12692227/91027122-f2b93f00-e5fb-11ea-8b60-a437d1a823eb.png">

**Steps to reproduce:**

1. import ES HELM URL in

[2020-08-24 15:41] adri commented on #765
I'm having the same problem :/

The `extraPorts` is used in a service definition and on a pod container definition. That doesn't work because these are two different APIs.

1. service port https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#serviceport-v1-core
2. container port https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core

[2020-08-24 21:19] paprickar commented on #765
Same for me:
**Chart version: 7.9.0
Kubernetes version: 1.18
Helm Version: 3.2.0**

[2020-08-25 07:45] adri commented on #765
It works when downgrading 2 versions. I'm using `6.8.10` instead of `6.8.12` with Helm 3. I wanted to configure an extra UDP port. This is a working config:

[code]

[2020-08-25 08:57] #595 closed

[2020-08-25 14:31] jmlrt commented on #796
Hi @twobombs, thanks for submitting this issue.

I'm not aware of how Rancher is working as we don't use it internally.
However charts from master branch are development versions intended to test future Elastic major versions and shouldn't be used outside of charts/products development. That's what explains the `-SNAPSHOT` chart version.

I recommend you to use released version from our Helm repos

[2020-08-25 14:42] jmlrt commented on #792
Hi @aggarwalShivani, thanks for submitting this request.

I'm not sure this is something that could be easily and safely automatized using Helm charts technology.

IMO, this is something that should stay a manual operation (delete charts and datas then redeploy and restore datas from youre backup).

As for the case of umbrella charts, I would guess that the application charts should have some depe

[2020-08-25 14:43] jmlrt commented on #785
Hi @caiconkhicon, thanks for submitting this issue.

Can you provide more details about your environment by answering to all the questions asked in the [bug report template](https://github.com/elastic/helm-charts/issues/new?template=bug_report.md)?

[2020-08-25 14:48] jmlrt commented on #781
Hi,
You should be able to disable Logstash monitoring feature by adding this line to your values:

https://github.com/elastic/helm-charts/blob/6cfbe0078b178d678940b10057243f4e1e1c353d/logstash/examples/elasticsearch/values.yaml#L7

[code]

[2020-08-25 14:55] jmlrt commented on #775
Hi @carlmacdiarmada, thanks for submitting this issue.

Can you provide more details about your environment by answering to all the questions asked in the [bug report template](https://github.com/elastic/helm-charts/issues/new?template=bug_report.md)?

[2020-08-25 15:09] jmlrt commented on #773
Hi @nikitakazantsev12,
Can you add more details?
Knowing which chart you are mentioning and what use case would need it would help us to be able to answer you.

[2020-08-25 15:14] nikitakazantsev12 commented on #773
@jmlrt, sorry I didn't realize that's a general charts topic. So, I am talking about the Kibana chart. There is a readiness probe implemented, but no liveness probe, so we have to roll it out additionally patching existing Helm deployment, which is not exactly comfortable.

The use case:

- We have sometimes troubles with an Elasticsearch cluster because of some development/testing activities. Tha

[2020-08-25 15:15] jmlrt commented on #772
Hi,
Indeed the recommended way is to deploy a new chart release / node group in the same cluster with the good size, drain the nodes and delete the old chart release as mentionned by @krishopper.

Resizing volumes is potentially possible with K8S for some storage class but may not be possible in the case of StatefulSets with the limitations of immutable fields.

At least it hasn't been studied/tes

[2020-08-25 15:19] jmlrt commented on #766
Hi @ebuildy,
It is possible and recommended to deploy [Metricbeat chart](https://github.com/elastic/helm-charts/tree/7.9/metricbeat) to monitor [Elasticsearch chart](https://github.com/elastic/helm-charts/tree/7.9/elasticsearch) chart.

[2020-08-25 15:24] caiconkhicon commented on #785
Hi @jmlrt , thank you for your reply. I am happy to provide necessary information. However, IMO, my request here is a feature request.
What I expect is a change to make it possible to run as `apm-server` with a non-root user. My assumption is that the change should look like https://github.com/helm/charts/pull/18366 in the official Helm chart repository.

[2020-08-26 06:29] jmlrt commented on #633
Closing as this can't be reproduced and no answer from issue author.

[2020-08-26 06:29] #633 closed

[2020-08-26 07:54] Wykiki commented on #656
Hello, I encountered a similar problem, and it looks like the statefulSet does not declare / use :
- `persistence.storageClass`
- `persistence.size`

It should be put somewhere in the statefulset `volumeClaimTemplate` : https://github.com/elastic/helm-charts/blob/7.9/elasticsearch/templates/statefulset.yaml#L26

One (of the many) way of doing it : https://github.com/goharbor/harbor-helm/blob/maste

[2020-08-27 07:15] twobombs commented on #796
Thanks for the reply, the idea was/is to run the snapshot version in Rancher :)
I'll create a lowercase repo to go with that lowercase helm fork and work from there.

thanks again for you time, you ppl have a wonderfull product.

[2020-08-27 07:15] #796 closed

[2020-08-27 09:42] jmlrt commented on #773
Related to https://github.com/elastic/helm-charts/pull/575

[2020-08-27 10:13] #765 closed

[2020-09-02 09:57] jmlrt commented on #401
FYI, Helm 3 support has been added in beta with [7.9.0](https://github.com/elastic/helm-charts/releases/tag/7.9.0) and [6.8.12](https://github.com/elastic/helm-charts/releases/tag/6.8.12) releases => #759

[2020-09-02 19:02] andelhie opened #801 "[logstash] extraPorts value when set generates errors"
**Chart version:**
logstash-7.9.0

**Kubernetes version:**
v1.16.3

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
on prem

**Helm Version:**
v3.2.4

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output b

[2020-09-03 12:57] edwardsmit commented on #801
I think you should use `port` instead of `containerPort`
So your example should read
[code]

[2020-09-03 13:01] edwardsmit commented on #801
Known bug #765

[2020-09-03 14:20] #801 closed

[2020-09-04 16:06] jmlrt commented on #792
For later reference, this [post](https://discuss.elastic.co/t/reason-for-version-downgrade-not-supported/245200/2) specify why Elasticsearch downgrade cannot be supported.

I'm closing this issue as we won't implement Elasticsearch downgrade using Helm rollback.

[2020-09-04 16:06] #792 closed

[2020-09-07 17:48] ottramst commented on #685
Also looking for this example/feature. If can't be done currently, maybe this is something that can be added via a PR?

[2020-09-08 09:53] Gagarmel opened #807 "[logstash] Unable to install Logstash with configured nodePort"
**Chart version:**
7.9.1

**Kubernetes version:**
v1.15.12

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
Own

**Helm Version:**
3.3.0

**Provided values.yaml**
[code]

**Describe the bug:**
Due to changes made in #776 it is not possible to install a Logstash instance which has a configured `nodePort`.

**Steps to reproduce:**

1. Use the above mentioned `values.yaml`
2. Install Log

[2020-09-09 08:19] jaykishan007 commented on #783
I have encountered the same problem, is there a any fix yet?

[2020-09-09 13:21] amit1411 opened #808 "Pipeline/logstash config file outside the values.yaml"
Hi,
Is there a possibility to have config files like logstash.yaml/pipeline.yaml and other pipeline config files someplace else inside the chart directory and then reference their location in values.yaml? if the files get too big, the values.yaml might become difficult to read.

[2020-09-10 12:11] #777 closed

[2020-09-10 14:13] iantheparker commented on #783
I'm experiencing the same.

This is my config that overrides some defaults

[code]

[2020-09-11 11:44] Ankitchandre commented on #780
you can change  the value of healthCheckPath:  from "/app/kibana"  to "/api/status"  in values.yaml . This should pass the readiness probe error .

[2020-09-11 12:34] giddel commented on #775
Same here. `helm test` does not note that ELASTIC_USER / PASSWORD is  set and API access is secured. So it cannot authenticate :-(

[2020-09-14 20:55] dcvtruong commented on #162
@zifeo Where did you get the elasticsearch 5.6.16 helm chart? I couldn't find the 5.x chart from elastic.

[2020-09-14 21:01] beckyjmcdabq commented on #656
I am preparing to deploy the ELK stack with helm.  I'm a bit confused by the VolumeClaimTemplate in helm-charts/elasticsearch/values.yaml.  There is no `storageClassName` in this template.

I am using the local path provisioner which is currently running and creates the storage class:  `local-path`

Can I just add the `storageClassName` to the values file as follows:
volumeClaimTemplate:
  accessM

[2020-09-15 06:49] zifeo commented on #162
@dcvtruong was in the stable repository, however deprecated and maybe already removed.

[2020-09-15 07:18] jacquesvdm7 commented on #162
Still fails for me:
+ helm upgrade --install logstash-container .sub/ourporject/logstash-container/charts --atomic --kubeconfig=/kubeconfigs/ourcluster-kubeconfig/kubeconfig.yaml --namespace=ournamespace --set image.repository=harbor.repo/ourporject/ourporject_logstash-container --set image.tag=dev-90-4fda5398752 --values .sub/ourporject/logstash-container/charts/values.yaml --values .sub/ourporje

[2020-09-15 21:12] mehta-ankit commented on #492
IMO it's related to this issue: https://github.com/helm/charts/issues/7803
Fixes were made to other charts regarding this. For example: https://github.com/helm/charts/pull/7966

So we need to remove `chart` label in this line it seems: https://github.com/elastic/helm-charts/blob/master/elasticsearch/templates/statefulset.yaml#L33

[2020-09-15 22:19] dcvtruong commented on #162
@zifeo Looks like you were able to install ES 5.6.16 helm chart to K8s 1.13.6

Chart version: 7.1.1 (but image 5.6.16, major version 5)

Kubernetes version: 1.13.6

[2020-09-16 08:09] jmlrt commented on #747
Hi @joshuacox,
Thanks for reporting this issue.
It seems that k8s don't accept `_` in secrets name.

I guess this was working in previous k8s versions when we added this example to the doc, but k8s behavior changed since.

You can fix it by naming your secret `slack-hook` instead of `slack_hook`:

[code]

#811 should fix the examples.

[2020-09-16 09:27] jmlrt commented on #705
Done in #712

[2020-09-16 09:27] #705 closed

[2020-09-16 09:46] jmlrt commented on #808
Hi @amit1411
The easiest way to do it is by using different values files.

example:
[code]

[2020-09-16 11:05] v1r7u opened #812 "Support metricbeat deployment labels"
**Describe the feature:**
Would be great, if `labels` property would add labels to `metricbeat` Deployment the same as it does for [DaemonSet](https://github.com/elastic/helm-charts/blob/master/metricbeat/templates/daemonset.yaml#L12-L14)

**Describe a specific use case for the feature:**
I use labels to define Kubernetes network-policies. I try to add a custom label to metricbeat pods. It perfect

[2020-09-16 11:16] v1r7u commented on #812
I would be happy to implement it, but I need input from maintainers.

If maintainers agree to include the feature, should I use existing `labels` property and reuse it in both `Deployment` and `DaemonSet` or rewrite labeling the same way as annotations are done (separate annotations properties for each). At the moment, I tend to use the same `labels` property, as it's backward compatible with prev

[2020-09-16 12:05] jmlrt commented on #492
Indeed the issue is related to `heritage` label. `.Release.Service` value is `tiller` with Helm 2 and `helm` with Helm 3. So https://github.com/helm/charts/issues/7803 is impacting us only when migrating from Helm 2 to Helm 3.

Note that `chart` label is not an issue as `.Release.Name` value should never change.

This is is impacting only people migrating from Helm 2 to Helm 3 and removing `herita

[2020-09-16 12:19] jmlrt commented on #807
Hi @Gagarmel,
Thanks for reporting this bug 👍

Good catch, I didn't test it with `NodePort` when I reviewed #776 😞.

IMO we should be able to remove totally `.Values.service.ports` and use only the beat port for the headless service as the headless service should only be used for K8S statefulset management and a real service should be created for other usages.

https://github.com/elastic/helm-char

[2020-09-16 12:41] jmlrt commented on #812
Hi @v1r7u,
Thanks for submitting this request.

A PR would be really great for that.

IMO it would make sense to have different labels values as we have for annotations. In your use case for network policies. I think it could make sense for some people to have different network policies for the `DaemonSet` (which is usually querying only the host metrics) and `Deployment` which is used to query ex

[2020-09-16 13:23] v1r7u commented on #812
@jmlrt I agree that having two `labels` properties is better.

Maybe then we have to mark _general_ `labels` property as deprecated? I still going to respect its value in the exact yaml template, but only if a more specific one is absent. For example:

[code]

If we agree, that root-level `labels` property will be marked as deprecated, then _Deployment_ object is not going to use  `{{ LABELS }}` a

[2020-09-16 13:35] jmlrt commented on #812
LGTM

[2020-09-16 16:25] #747 closed

[2020-09-16 18:54] iantheparker opened #813 "Elasticsearch: Ability to keep matchLabel.app name and object.metadata.name separate"
**Describe the feature:**
[The Bitnami Elastic chart keeps `matchLabels` and `elasticsearch.master.fullname` separate](https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/templates/master-svc.yaml#L26). I'm not attached to this implementation, but might prefer metadata.name being derived by Release.Name and app for matchLabels being derived from nameOverride?

**Describe a specific

[2020-09-21 12:03] apollie opened #814 ""https://helm.elastic.co" is not a valid chart repository or cannot be reached"
**Chart version:**
NA

**Kubernetes version:**
`Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec2052d1f1fa930c4d7575bd50", GitTreeState:"clean", BuildDate:"2020-08-26T14:30:33Z", GoVersion:"go1.15", Compiler:"gc", Platform:"darwin/amd64"}`

`Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.12", GitCommit:"e2a822d9f3c2fdb5c9b

[2020-09-22 13:21] nneul commented on #783
How is the cluster supposed to go green with these charts on initial standup?

The headless service doesn't resolve in DNS until at least one node is up, but the readiness check doesn't return ready until the cluster is green. I didn't try lowering the minimum master nodes, but even with that, it's unclear how it should properly start back up when none of the pods are currently up and running -- b

[2020-09-22 13:37] fatmcgav commented on #814
@apollie So the specific error you're seeing (`x509: certificate signed by unknown authority`) sounds like an issue with the CA certificates on the host.

The server cert for `https://helm.elastic.co` is signed by the `DigiCert SHA2 Secure Server CA` CA, which in turn is signed by `DigiCert Global Root CA`.
So it's worth checking the the `DigiCert Global Root CA` is in whatever certificate store y

[2020-09-22 14:13] apollie commented on #814
@fatmcgav thanks for your reply!
I've checked the fingerprints of intermediate and root CA's in Mac's Keychain and they correspond to the ones, defined on DigiCert site.
But I wonder if helm uses keychain storage or some other (from openssl for instance), because i've noticed a cert storage file `/etc/ssl/cert.pem` where the intermediate certificate is not present, i'm not sure if it's being used

[2020-09-22 14:57] fatmcgav commented on #814
So a quick google turned up https://github.com/helm/helm/issues/3792, which suggests it should be possible to specify a `--caCert` arg to Helm.

It's not obvious what certs are being used though. I'd assume the Mac system keystore, but I'm not on Mac so can't confirm.

[2020-09-22 15:18] apollie commented on #814
ok, so using `--caCert` it did worked
But it's still weird why there should be such overhead with valid certificate and issuer.
I will keep investigating further, as today my colleague experienced same issue after upgrading his Mac to Catalina.

[2020-09-22 15:38] apollie commented on #814
So if anyone else experience the same trouble as me, the workaround is to import the full certificate chain to System Keychain and explicitly select "Always trust" in its preferences.

[2020-09-22 15:39] fatmcgav commented on #814
Ah, that's good to know... I'm glad you found a solution @apollie

I'm going to close this one out for now :)

[2020-09-22 15:39] #814 closed

[2020-09-23 12:09] ppan-suchada opened #817 "[Logstash 7.9.1] Error: UPGRADE FAILED: cannot patch "logstash" with kind StatefulSet"
**Chart version:**
7.9.1

**Kubernetes version:**
v1.17.9

**Kubernetes provider:**
Amazon Elastic Kubernetes Service (Amazon EKS)

**Helm Version:**
v3.0.2

**Describe the bug:**
I was trying to upgrade Logstash from 7.8.0 to 7.9.1 due to the newer version have fixed the bug related to ```.Values.extraPorts``` https://github.com/elastic/helm-charts/issues/765

**Steps to reproduce:**

1. Run helm

[2020-09-23 15:52] jmlrt commented on #675
Closing as stale

[2020-09-23 15:52] #675 closed

[2020-09-23 16:03] jmlrt commented on #610
Closing as stale

[2020-09-23 16:03] #610 closed

[2020-09-23 16:10] jmlrt commented on #817
Hi @ppan-suchada, this is a known problem which is documented [here](https://github.com/elastic/helm-charts/blob/master/BREAKING_CHANGES.md#add-headless-service-for-statefulset)

You should use `helm upgrade --force` to do the upgrade.

[2020-09-24 03:31] ppan-suchada commented on #817
Thanks @jmlrt, I've tried using ``helm upgrade --force`` already.

However, I received the error as below.
`Upgrade "logstash-centralized-pipeline-logging" failed: failed to replace object: Service "logstash-centralized-pipeline-logging-logstash" is invalid: spec.clusterIP: Invalid value: "": field is immutable && failed to replace object: StatefulSet.apps "logstash-centralized-pipeline-logging-lo

[2020-09-24 06:18] jmlrt commented on #817
This has been fixed in https://github.com/elastic/helm-charts/pull/776. I suggest you to upgrade to 7.9.1 instead.

[2020-09-24 08:50] operatorequals opened #821 "[Filebeat] Support Kubernetes Deployment (not only Daemonset)"
**Describe the feature:**

Filebeat can be seen as a log collector not only for underline Kubernetes Node resources, but also able to collect logs through the network, AWS, etc.

By assigning Filebeat only to `Daemonsets` though the available Helm Chart, one cannot use it as an independent and scalable `Deployment`, which has some use cases as well.

Specifically, a `deploymentType: [Daemonset|Dep

[2020-09-24 15:09] wimo7083 opened #825 "reindex kibana migration requires creating any index before index-patterns work"
**Chart version:** 6.8.9

**Kubernetes version:** v1.16.13-gke.401

**Kubernetes provider:** GKE

**Helm Version:** 3.3.1

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting.*

*If you find some s

[2020-09-25 04:00] Coder2323 opened #827 "Typo in logstash statefulset.yaml template prevents extraPorts from being used."
**Chart version:**
7.8.1

**Describe the bug:**
 File:   /logstash/templates/statefulset.yaml
 Line: 155

      {{- if .Values.extraPorts }}
        {{- toYaml .Values.extraPorts | nindent 8 }}
      {{- end }}

Should be:

      {{- if .Values.extraPorts }}
        {{- toYaml .Values.extraPorts | indent 8 }}
      {{- end }}

[2020-09-25 06:01] #827 closed

[2020-09-25 06:01] Coder2323 commented on #827
Sorry my bad.

[2020-09-25 07:11] jacquesvdm7 commented on #827
why, is this a type or not. I saw same reference to nindent  in serviceaccount.yaml. Should this be changed or not

[2020-09-27 17:39] ckotzbauer commented on #597
I had the same issue and also fixed it with the "/status" endpoint as workaround.

[2020-09-28 01:06] aii-ssvinoth22 opened #828 "have anyone used istio for running xpack elasticsearch and kibana? im facing ssl routine error when i configure Gateway and Virtual service? Not sure if this is correct platform to ask this question."
Hey, stop right there!

We use GitHub to track feature requests and bug reports. Please do not submit issues for questions about how to use features of these helm charts, best practices, or development related help.

However, we do want to help! Head on over to our official forums and ask your questions there. In additional to awesome, knowledgeable community contributors, core helm chart develope

[2020-09-28 04:36] ppan-suchada commented on #817
Yess, that's the version I'm trying to update to, but not sure that I miss something out or not because I've tried with `helm upgrade --force` and it seems fix the first error. However, I still cannot solve the another error https://github.com/elastic/helm-charts/issues/817#issuecomment-698090121

[2020-09-28 05:20] D3N14L opened #829 "Add the ECK helm-chart"
As the readme states:

and ECK also has a helm-chart: https://github.com/elastic/cloud-on-k8s/tree/master/deploy. Why is this helm chart not available here or in https://hub.helm.sh/charts/elastic/?

If it is the preferred way of deploying the stack I kindly request it to be added to the usual helm-chart repositories.

[2020-09-28 13:11] jmlrt commented on #825
Hi @wimo7083, Thanks for submitting this issue, however, this doesn't seem to be specific to the Helm charts.

Could you open an issue to [Kibana repo](https://github.com/elastic/kibana/issues) or post a question to [Elastic Discuss Forum](https://discuss.elastic.co/) instead?

[2020-09-28 15:30] wimo7083 commented on #825
There are some components that aren't specific but the ability to control the initial restore of a kibana index is a problem I've had.

I'll make a ticket in the kibana repo. Can you verify that what I'm doing is the correct way of introducing a kibana index to a fresh cluster?

[2020-09-29 10:13] awegmann commented on #606
Even the issue is old, I want to annotate this.

We encountered the same problem. We wanted to overwrite the filebeat.yml with a modified one. What we tried was, to create a yaml file with the content of the variable `filebeatConfig` and set this with `--set-file` on the install command. The result was exactly your error message.

## Our solution:
Create a config yaml file like the `values.yaml` o

[2020-09-29 10:59] #647 closed

[2020-09-29 23:05] adinhodovic commented on #783
If your running a single replica cluster add the following helm value:
[code]
Your status will never go green with a single replica cluster.

The following values should work:

[code]

[2020-09-30 01:42] naveenkumarsp opened #830 "Custom log collection using filebeat with seperate ILM policy for each log"
i have a requirement where i am collecting custom log from a container in a Kuberentes Cluster via filebeat agent. The same filebeat agent also collects containers logs as well.

Currently the logs are dumped to hostPath and we are collecting via filebeat agent.[see the helm value below]. the filebeat daemonset which is deployed is not taking any individual ILM policy configured custom logs. Inste

[2020-09-30 09:03] jmlrt commented on #825
Not an expert in Kibana, but I see nothing in your procedure which should be specific to Helm charts, AFAIK, there shouldn't be any difference for restoring a Kibana index between Kibana chart and a standard Kibana install.

[2020-09-30 12:33] jmlrt commented on #817
Hi @ppan-suchada,

I could reproduce your issue with Helm 3, while `helm upgrade --force` worked successfully with Helm 2.

Looking at https://github.com/helm/helm/issues/7082#issuecomment-559558318, it seems that `helm upgrade --force` behavior changed with Helm 3.

While `helm upgrade --force` in Helm 2 was deleting and recreating resources (like an `helm uninstall && helm install`), in Helm 3 i

[2020-10-01 08:10] MaCoredroid commented on #653
Same issue here, I would try the monitoring.enabled: false approah, but maybe it will affect some functions.

[2020-10-01 08:13] vozzy commented on #653
Just wanted to mention that this seemingly was caused by a network issue, I was on a VPN connection and I experienced this issue. Went off the VPN and it worked

[2020-10-01 08:17] MaCoredroid commented on #653
Thanks for your reply. Actually, I am comming from this document https://www.elastic.co/guide/en/cloud-on-k8s and having the same issue. So you mean maybe the Kibana has some connection problem to ElasticSearch Cluster? I will try to open an issue there.

[2020-10-01 14:41] mykhailosmolynets commented on #783
We have faced with the same issue in case of StatefulSet restoring with the same PVC(using it for test envs). It works ok if we crate elastic pod from scratch, but not after StatefulSet restoration. In couple with error **Cluster is not yet ready (request params: "wait_for_status=green&timeout=1s" )** we get next error:

 The issue seems to be not in the elasticsearch pods - assume it's in the ind

[2020-10-02 10:20] jmlrt commented on #828
Hi @aii-ssvinoth22,
As mentionned in the issue template, these kind of questions should be asked to https://discuss.elastic.co forum.

[2020-10-02 10:21] jmlrt commented on #680
Closing it as stale

[2020-10-02 10:21] #680 closed

[2020-10-02 10:23] jmlrt commented on #536
still valid

[2020-10-02 10:25] jmlrt commented on #538
Closing it as fixed by #670

[2020-10-02 10:25] #538 closed

[2020-10-02 10:30] jmlrt commented on #404
still valid

[2020-10-02 10:59] jmlrt commented on #830
Hi @naveenkumarsp,
We generally recommend that questions such as this are asked on our Discuss forums at https://discuss.elastic.co. Also formatting correctly your issue description and code blocks for config and logs, is helping a lot so we can help you.

[2020-10-02 12:24] #630 closed

[2020-10-02 13:22] #812 closed

[2020-10-02 22:50] bamb00 opened #832 "Deployed Coordinator nodes only not set with the ES helm chart"
In the ES helm chart all node roles is set to "false" with replicas '3'.  Querying the cluster nodes...I don't see the '-' assigned to the coordinator node.  The coordinator nodes name is elasticsearch-coordinator-0,1,2.  I've also noticed pvc was created for coordinator nodes only.

From the output below I could not determined if the three nodes (elasticsearch-coordinator-*) is designate as an co

[2020-10-05 12:31] zhoubonet opened #833 "Kibana 7.9.2 CrashLoopBackOff"
**Chart version:**
7.9.2
**Kubernetes version:**
1.12.6
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)

**Helm Version:**
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

{"type":"log","@timestamp

[2020-10-05 13:09] #833 closed

[2020-10-05 13:11] rudolf commented on #653
This is an upstream bug in Kibana https://github.com/elastic/kibana/issues/79451

[2020-10-05 13:15] MaCoredroid commented on #653
I have fixed my issue by setting the right mux in calico (1430 in my case) and install socat

[2020-10-06 02:40] zhoubonet opened #834 "Invalid setting language"
**Chart version:**
7.9.2
**Kubernetes version:**
1.12.4
**Helm Version:**
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

![image](https://user-images.githubusercontent.com/4209701/95152678-3d63d480-07c0-11eb-

[2020-10-06 13:15] ghost opened #835 "Cannot set custom podAntiAffinity"
**Chart version:**
Logstash

**Description**
In the logstash helm chart, it is not possible to set an additional, custom, podAntiAffinity rule.
In the statefulset definition, antiaffinity is only used to prevent to logstash from running on the same topology domain.
It would be great to be able to add custom podAntiAffinity rules.

[2020-10-07 08:34] jmlrt commented on #527
still valid

[2020-10-07 08:35] jmlrt commented on #531
still valid

[2020-10-07 13:13] jmlrt commented on #834
Hi @zhoubonet,
I couldn't reproduce your issue. Deploying kibana with the following config is working fine for me:
[code]

<img width="575" alt="Screenshot 2020-10-07 at 15 12 29" src="https://user-images.githubusercontent.com/8582351/95335306-88104a00-08af-11eb-84fe-e851b9b71854.png">

Can you provide more details about your issue?

[2020-10-07 18:00] #113 closed

[2020-10-07 19:57] jmlrt commented on #832
Hi @bamb00,
We generally recommend that questions such as this are asked on our Discuss forums at discuss.elastic.co.

[2020-10-09 04:32] #834 closed

[2020-10-09 08:19] mayurvpatil opened #836 "ElasticsearchException[failed to bind service] for chart as dependency"
**Chart version:**
**7.9.2**

**Kubernetes version:**
**1.18**

**Kubernetes provider:**
**Azure Kubernetes Service (AKS)**

**Helm Version:**
**2.14.1**

**`helm get release` output**
e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy

[2020-10-09 17:35] #836 closed

[2020-10-09 17:37] mayurvpatil commented on #836
Invalid chart version, chart **7.9.2** tested with elastic search 7.9.2.
I found that chart **7.6.1** is tested with elastic search 7.6.2.

[2020-10-09 19:28] mayurvpatil opened #837 "Elasticsearch 7.6.2 CrashLoopBackOff"
**Chart version:**
7.6.2

**Kubernetes version:**
1.18

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
AKS (Azure Kubernetes Service)

**Helm Version:**
2.14.1

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[code]

</details>

**Describe the bug:**

Trying to run Elasticsearch 7.6.2 with chart version 7.6.2 with following command
`helm instal

[2020-10-12 06:47] jmlrt commented on #474
still valid

[2020-10-12 16:30] dcvtruong commented on #832
Hi @jmlrt, When I post question related to helm chart? Most of the time no response from the forum.  Since this is a helm related configuration deployment I'm almost positive there would be no response.

[2020-10-12 16:56] jacquesvdm7 commented on #832
I feel for you, I had the same experience when posting a problem it seems like either no one knows or no one cares.

[2020-10-13 04:59] #648 closed

[2020-10-13 10:14] aendeavor opened #838 "Kubernetes/CRI-O missing SYS_CHROOT capability"
**Chart version:** 2.0.3

**Kubernetes version:** 1.19.2

**Kubernetes provider:** `kubeadm` with CRI-O as the container runtime interface

**Helm Version:** 3.3.4

**Shortened release output**:

[code]

**Describe the bug:**

When using Kubernetes with CRI-O as the Container Runtime Interface, Elasticsearch clients are not able to `chroot`.

**Steps to reproduce:**

1. Bootstrap a Kubernets clust

[2020-10-13 10:36] #838 closed

[2020-10-14 08:49] jmlrt commented on #829
Hi @D3N14L,
ECK Helm chart is developped by the team in charge of the operator and so it makes sense that its code is in ECK repository.

Note that this chart isn't yet officially released, and should be available in https://helm.elastic.co and https://artifacthub.io/packages/search?page=1&repo=elastic when it will be released.

[2020-10-14 17:11] #807 closed

[2020-10-14 18:12] jcon321 opened #840 "Support for hostAliases"
Hello,

My output has ssl => true, a certificate, and a host with an IP address. The host gave me a self-signed cert with a peer name such as 'elastic-server'.

I would rather not use ssl_certificate_verfication => false. Is it possible to get an update to values.yaml to add hostAliases? Is there a way to modify hostAliases without modifying the helm chart?

Thanks

[2020-10-14 20:22] jcon321 commented on #840
for what it's worth, adding this to statefulset.yaml worked...

[code]

I know it doesnt pull in from values.yaml and it's bit of a hack, but just showing that it's possible.

[code]

[2020-10-15 12:38] aaaaahaaaaa opened #841 "Kibana: Missing service.httpPortName config in chart"
**Chart version:**
7.9.2
**Kubernetes version:**
v1.17.9-gke.1504
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
GKE
**Helm Version:**
3

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[code]

</details>

**Describe the bug:**

The Kibana chart is missing a way to configure the port name of the service (e.g. `service.httpPortName` like in the

[2020-10-15 15:59] #402 closed

[2020-10-16 11:27] Excpt0r opened #842 "elasticsearch: use sysctlImage that already includes sysctl command"
**Chart version:**
elasticsearch-12.8.0

**Describe the bug:**
The sysctl init container uses as default the debian image, and requires internet access to install the sysctl command.

I suggest to use an sysctlImage by default that already includes the sysctl command.
That will make it work out of the box in offline environments too. I used the following image:
docker.io/bitnami/centos-extras-base

[2020-10-16 13:15] #453 closed

[2020-10-17 20:59] #654 closed

[2020-10-18 13:47] ebuildy commented on #837
Is it a "fresh" install or data volume already exist before?

[2020-10-18 13:56] ebuildy commented on #835
Something like that:

statefulset.yaml, line 86:

[code]

[2020-10-18 13:56] ebuildy commented on #828
Relate to #841 ?

[2020-10-18 14:07] ebuildy commented on #779
According ingress template, port is controlled via ``httpPort`` values field:

[code]

[2020-10-18 14:15] ebuildy commented on #766
Yes I understand,

Most of Helm charts, have **monitoring defined as template** , via servicemonitor.yaml: https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/templates/servicemonitor.yaml.

Will be good to have a similar thing with metricbeat.

[2020-10-18 14:16] ebuildy commented on #746
This is related to logstash documenation, not Helm chart, isnit?

[2020-10-18 18:12] cambierr commented on #766
Shouldn't we instead have a companion container for each es pod ? so that they are each collected independently ?

[2020-10-19 00:10] teebu commented on #746
It's in the helm, but the config is related tologstash.

[2020-10-19 07:51] ebuildy commented on #746
Helm chart allow you to configure pipelines.yml, but pipeline.yml format is related to logstash, not Helm chart. What is your question/issue here?

[2020-10-19 19:10] teebu commented on #746
It's just a suggestion to be added to the docs somewhere.

[2020-10-20 09:11] milijander88 opened #851 "How to resize ES storage volume but keeping old data"
Hi all,
 I'll need a help with resizing a storage for elasticsearch. We have deployed elasticserach with helm but we have an issue with resizing the storage. This are the resources that we deployed with helm:

[code]

We tried to resize the storage by changing  **nodeGroup** and **masterService** and we ended with new nodes but old one are deleted, only what is left is old storage disks :

[code]

[2020-10-20 14:00] ebuildy commented on #851
Hello,

You changed cluster name, so PVC name changed , thats why there are new PVs.

This is not really related to this Helm chart, but did you read https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/?

If you cant resize, you can consider to scale out, by creating more replicas, something like that:

1. Set bigger size in Helm values, then deploy values (this will

[2020-10-20 14:06] ebuildy commented on #842
You are talking about https://github.com/elastic/helm-charts/blob/master/elasticsearch/templates/statefulset.yaml#L168 ?

I dont any download / installation

[2020-10-20 14:10] ebuildy commented on #720
You are talking about https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#global-chart-values?

[2020-10-20 14:38] Excpt0r commented on #842
Wow that's embarrassing, I really managed to post in the wrong browser tab (+ project).
I'm really sorry, switched from bitnami to elastic chart.

[2020-10-20 14:38] #842 closed

[2020-10-20 16:20] ppiccolo opened #852 "Readiness probe fail expected 200 got 200"
**Chart version:**
kibana 7.9.2
**Kubernetes version:**
1.18
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
BareMetal
**Helm Version:**
3.3.4

**Describe the bug:**

Readiness probe failed: Error: Got HTTP code 200 but expected a 200 sh: 11: [[: not found

**Steps to reproduce:**

1. Install chart
2. That's all, never pass readiness probe

**Expected behavior:**

Successfully pass th

[2020-10-20 17:28] ilhaan opened #853 "Kibana server.uuid and server.name configs"
**Chart version:** 7.9.2

**Kubernetes version:** 1.16.8

**Kubernetes provider:** Rancher

**Helm Version:** 3.2.4

**Describe the bug:** According to [this](https://www.elastic.co/guide/en/kibana/current/production.html#load-balancing-kibana) doc from Elastic, the following configs need to be unique for kibana installations being served from behind a load balancer:

[code]

The chart in this rep

[2020-10-21 06:09] jmlrt commented on #832
So I guess your coordinator value file contains:
[code]

Regarding `http://localhost:9200/_cat/nodes` response, it seems that all nodes including coordinator do have `lr` role which match machine learning and remote cluster client roles following the [_cat/nodes API doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/cat-nodes.html).

Not an expert but I think these roles are only

[2020-10-21 06:22] jmlrt commented on #832
As for coordinator nodes having pvc, you can disable persistence in their value file using:
[code]

[2020-10-21 06:40] jmlrt commented on #832
@dcvtruong @jacquesvdm7 I feel sorry for the experience you had with Elastic forum.

The number of helm-charts maintainers at Elastic is very narrow, so we don't have the bandwith (neither the expert knowledge of every Elastic products) to answer all questions here.

There is a lot more contributors with better Elastic products knowledge in the forum despite few of them have helm-charts knowledge.

[2020-10-21 07:59] jmlrt opened #855 "[elasticsearch] Use node.roles instead of deprecated setting for Elasticsearch 7.9+"
Elasticsearch chart use `node.master`, `node.data`, ... settings to define node roles.
However these settings have beed deprecated in favor of `node.roles` setting in 7.9 (https://github.com/elastic/elasticsearch/pull/54998).

[2020-10-21 09:59] #381 closed

[2020-10-21 23:01] dcvtruong commented on #832
@jmlrt I have the ES cluster with the above nodes configuration.  To make sure the coordinator nodes is the actual coordinator nodes...How would I tested? Do you know the command to test? I look in the ES docs but could not find an example.

[2020-10-22 12:59] #688 closed

[2020-10-22 14:25] davidkarlsen opened #864 "Provide 7.9.3 chart"
**Describe the feature:**
Update chart with latest version

**Describe a specific use case for the feature:**
run latest by default (Yes I know I can change the values)

[2020-10-22 16:00] clausa20 opened #869 "ElasticSearch: Allow to install plugins via values.yaml"
Old unofficial helm allowed to install plugins specifying a list in the values.yaml (cluster: plugins: []).
Now the official helm does not allow it, recommending to use a custom Dockerfile.
Using a custom Dockerfile seems not to be a good idea, because it forces to fork the original and stable ES image and it is harder to maintain in a separated manner.

You can use as old helm, an init-container

[2020-10-23 13:59] #691 closed

[2020-10-23 20:32] windowsrefund commented on #746
This is a really helpful issue as https://github.com/elastic/helm-charts/blob/7.9/logstash/values.yaml#L16 is worded in a way that is a bit misleading IMHO

[2020-10-24 12:04] ebuildy commented on #746
@windowsrefund @teebu feel free to to add an example here https://github.com/elastic/helm-charts/tree/master/logstash/examples with a multi-pipelines values.yaml!

[2020-10-24 12:08] ebuildy commented on #869
Can you share old Helm chart URL please?

Also, about "custom Dockerfile seems not to be a good idea" , this is the best practice recommanded by Docker it-self, the idea behind container is immutability!

It's also a good practice to package OS/Softwares/Config/App code,vendors within the Docker image.

A (good) production infrastructure should never allow a container to make Internet call, for se

[2020-10-26 07:45] jmlrt commented on #832
@dcvtruong, I'm sorry, this is above my Elasticsearch knowledge and I can only refer to the documentation for that type of question.

[2020-10-26 08:10] Dexolite commented on #312
I've disabled it with adding the following to my elasticsearch.yml:

[2020-10-26 08:29] jmlrt commented on #864
Hi @davidkarlsen 7.9.3 charts have been released along with the Elastic Stack:
<img width="499" alt="Screenshot 2020-10-26 at 08 55 35" src="https://user-images.githubusercontent.com/8582351/97149959-bc1fb200-176d-11eb-8e7f-69b8b807a92c.png">

[2020-10-26 08:29] #864 closed

[2020-10-26 08:42] ebuildy commented on #312
@demisx did you configure ES as a single node cluster ?

[code]

[2020-10-26 08:44] Dexolite commented on #312
In the statefulset.yaml, line#295
          - name: cluster.initial_master_nodes
            value: "{{ template "elasticsearch.endpoints" . }}"
Using template function to set the cluster.initial_master_nodes as env variable, which conflicts discovery.type: single-node.

Basically in this form the helmchart is unable to receive a       'discovery.type: single-node'
I've deleted the env var in stat

[2020-10-26 11:28] abbbhardwaj commented on #781
Hi

I am experiencing the same issue, I use helm charts and want to change the hostname of elasticsearch url from http://elasticsearch:9200/ to http://elasticsearch-master:9200/ in logstash helm chart values file.  how can I do it?

[2020-10-26 14:25] davidkarlsen commented on #864
awesome - thanks a lot!

[2020-10-26 21:33] gburton1 opened #873 "Inject node IP to Metricbeat daemonset for kubelet communication"
**Describe the feature:**

Currently, the Metricbeat chart gives access to NODE_NAME in the daemonset via the Downward API, to be used for talking to the kubelet of the hosting node:

[code]

It would be helpful to also have the NODE_IP as an option to use for that communication:
[code]

The proposed change is to simply add the snippet above to the ENV section of the metricbeat container here http

[2020-10-27 08:44] musabhusaini opened #874 "Elasticsearch: Allow specifying extraContainers as a map"
**Describe the feature:**
Currently, the Elasticsearch chart supports specifying `extraContainers` as a YAML array (or a templatable string for backward compatibility). This is fine for simple use cases, but not convenient if overriding via multiple values files is desired.

This feature request is to additionally support providing `extraContainers` as a map, which would facilitate overrides throu

[2020-10-28 08:44] jmlrt commented on #396
still valid

[2020-10-28 14:54] dcvtruong opened #875 "java.lang.IllegalStateException: transport not ready yet to handle incoming requests"
**Chart version:** 7.9.4-SNAPSHOT

**Kubernetes version:** 1.17.9

**Kubernetes provider:** AKS

**Helm Version:** v3.3.0-rc.1

**Helm release output:**
[code]

**Describe the bug:** Deployed with xpack security enabled result in exception caught on transport layer [Netty4TcpChannel{localAddress=/10.2.1.75:9300, remoteAddress=/10.2.1.103:56214}], closing connection".  ES cluster nodes never discov

[2020-10-30 11:55] jmlrt commented on #781
Hi @abbbhardwaj, if you want to use Logstash monitoring with a different Elasticsearch URL, you can override it with the following setting:

[code]
source: https://www.elastic.co/guide/en/logstash/current/docker-config.html#_docker_defaults

[2020-10-30 16:01] kanidjar opened #881 "Kibana - kibana.yml not loaded"
**Chart version:**

7.9.3

**Kubernetes version:**

v1.18.8

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)

Azure Kubernetes Services

**Helm Version:**

3.4.0

**`helm get release` output**

<details>
<summary>
</summary>

[code]

</details>

**Describe the bug:**

When deploying Kibana with Helm, kibana.yml seems not be loaded

[code]

[code]

[code]
[code]

**Steps to reproduce:*

[2020-10-30 18:08] jmlrt commented on #733
While waiting for kube-state-metrics chart migration to a new GitHub repository, We need to update Metricbeat chart requirements to retrieve the subchart from the new stable Helm repos url => #882

[2020-10-30 19:50] kanidjar commented on #881
Well, my password was composed with a "!" that was interpreted by bash, storing then a wrong password and preventing Kibana from connecting to ES.

[2020-10-30 19:50] #881 closed

[2020-10-31 12:59] #709 closed

[2020-11-01 11:43] kanidjar commented on #597
Same here, getting 404 on /app/kibana but 200 on /status: xpack enabled, http protocol.

[2020-11-04 11:43] jmlrt commented on #837
Hi @mayurvpatil,
I couldn't reproduce it with a fresh install and `helm install --name elasticsearch --version 7.6.2 --set imageTag=7.6.2 --set replicas=1  elastic/elasticsearch`.
Can you provide more details?

[2020-11-04 12:02] jmlrt commented on #840
Hi @jcon321,
Thanks for openning this request.
Adding [HostAliases support](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/) to Elastic charts could be great. Are you interested in creating a PR for that?

[2020-11-04 12:05] jmlrt commented on #852
Hi @ppiccolo
Thank you for openning this issue.

Can you provide all details requested in the [Bug Report template](https://github.com/elastic/helm-charts/issues/new?template=bug_report.md) so we have enough informations to help you?

[2020-11-04 13:04] jmlrt commented on #841
Hi @aaaaahaaaaa,
Thank you for submitting this request. Would you be interested to create a PR for that?

[2020-11-04 13:14] jmlrt commented on #853
Hi @ilhaan,
These settings should be defined in `kibana.yml` config files.
You can use `kibanaConfig` value for that:

[code]

We recommend submitting these kind of questions on https://discuss.elastic.co forum where you have more chances to get answers and advices.

[2020-11-04 13:19] jmlrt commented on #875
Hi @dcvtruong,
Setting `xpack.security.enabled: true` isn't enough to configure Elasticsearch with TLS.
An example of Elasticsearch cluster using security can be found in [examples/security](https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/security) (see also https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-tls.html for more details).

[2020-11-04 13:19] #875 closed

[2020-11-04 14:08] jmlrt commented on #873
Hi @gburton1,
That make sense, however you can already add this environment variable using `extraEnvs` value:

[code]

We could eventually document it in the [chart FAQ](https://github.com/elastic/helm-charts/tree/master/metricbeat#faq) if you're interested to make a PR but I would prefer using `extraEnvs` instead of adding it directly to the chart template.

Does that sounds good for you?

[2020-11-04 14:31] jmlrt commented on #874
Hi @musabhusaini,

Thanks for submitting this ticket. That makes sense as long as we provide backward compatibility with current behavior. Note that this could also be used in a lot of other places in these charts.

Would you be interrested to create some PR?

[2020-11-04 15:43] jmlrt commented on #841
Didn't see there was already #843 by @ebuildy ^^

[2020-11-04 18:18] gburton1 commented on #873
Good idea! Thank you!

[2020-11-04 18:18] #873 closed

[2020-11-04 20:40] ilhaan commented on #853
Hi @jmlrt,
Thanks for the response. Defining these in the chart would mean all Kibana pods would have the same uuid and name. That seems to counter what is listed in documentation [here](https://www.elastic.co/guide/en/kibana/current/production.html#load-balancing-kibana):

Please advise. Will post in forum as well.

[2020-11-05 09:59] musabhusaini commented on #874
Hi @jmlrt,

Thanks for following up. This can be implemented while preserving current behavior. I already have an implementation for this particular use case in a fork. I can take some time to generalize it and convert it to a viable PR.

[2020-11-05 11:15] #710 closed

[2020-11-05 11:23] jmlrt commented on #853
That's a good point.
I don't see how to do it currently, I'll reopen the issue.

[2020-11-05 17:15] #556 closed

[2020-11-05 17:16] #526 closed

[2020-11-07 15:40] kcalliauw opened #889 "[elasticsearch] AccessDeniedException[/usr/share/elasticsearch/data/nodes];"
**Chart version: 7.9.3**

**Kubernetes version: 1.19.2**

**Kubernetes provider: microk8s**

**Helm Version: 2.16.7**

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[code]

</details>

**Describe the bug:**
Access is denied to the filesystem mounted in `/usr/share/elasticsearch/data/nodes`, causing erroring pods and CrashLoopBackoff.
[code]

**Steps to rep

[2020-11-10 06:26] jmlrt commented on #401
Updating `rbac.authorization.k8s.io` API is required to make `helm lint --strict` work with Helm 3 => #890

[2020-11-10 06:41] jmlrt commented on #492
`heritage` labels will be removed in #516.

[2020-11-10 14:15] #510 closed

[2020-11-10 17:20] elwood218 commented on #492
What exactly you are doing here? I got a freshly installed 6.8.13 Helm Chart and this error exists since 2018. Now I wanted to upgrade the PV size and I got this error. So tell me how to proceed?????

[2020-11-10 18:47] elwood218 commented on #492
This was my workaround for increasing PV (tested on GKE):
Put PV to "Retain" data (just for emergency case)
[code]
Delete Statefulset (Pods will not be removed):
[code]
Now you are able to upgrade via helmfile or whatever you use.

After that you will see that the pvc will not be updated. So in case of GKE you can manually update the pvc and raise to the needed size.

*Another quick workaround wou

[2020-11-11 15:55] davidkarlsen opened #892 "7.10.0 charts"
**Describe the feature:**
charts with elk components running version 7.10.0 by default.

**Describe a specific use case for the feature:**
run latest release.
it would be good if the charts could be synchronized with the releases.

[2020-11-12 08:12] jmlrt commented on #511
still make sense to do it

[2020-11-12 08:15] jmlrt commented on #892
Hi @davidkarlsen,
Thanks for creating this issue 👍
We usually release Helm charts in the same time as the stack, but for 7.10.0 we need a bit more time to ensure full Helm 3 support. 7.10.0 should be released soon.

[2020-11-12 08:23] jmlrt commented on #492
Hi @elwood218,

This issue relates to Elasticsearch chart upgrade issue when migrating from Helm 2 to Helm 3.

AFAIK, your problem don't seem related at all with this current issue, so whatever your problem really is, I would ask you to post your comments on some issue really related to it or create a new issue with all the details requested in our [bug report template](https://github.com/elastic/

[2020-11-12 08:38] elwood218 commented on #492
Hi @jmlrt ,

you closed the other issue and were only assuming that it is related to helm but obviously it is a general problem because I got exactly the same error and I do not have helm 3.
But ok.. then I open a new ticket with the same problem..

[2020-11-12 09:04] elwood218 commented on #492
Hi @jmlrt ,
maybe the Problem is that I don't got a "multi" setup with helm release for each Node group. So I will open an issue anyway because I don't understand it.

[2020-11-12 09:15] elwood218 opened #893 "helm upgrade fails when trying to resize PVC"
**Chart version:**
6.8.13
**Kubernetes version:**
v1.16.13-gke.401
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
GKE
**Helm Version:**
v2.16.1

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before

[2020-11-12 11:10] jmlrt commented on #656
Hi, @beckyjmcdabq,

Yes you can add `storageClassName` directly in `volumeClaimTemplate` value like in this example: https://github.com/elastic/helm-charts/blob/58bdd96312a08cf3e933ffa9afb3c7988c27dd80/elasticsearch/examples/kubernetes-kind/values.yaml#L18-L23

Well I don't know why we forgot to add a commented value for it in the default value file https://github.com/elastic/helm-charts/blob/58bd

[2020-11-12 12:30] jmlrt commented on #893
Hi @elwood218,
Thanks for submitting this issue and providing more details.

So I understand that your issue is related to not being able to upgrade Elasticsearch chart release when trying to resize PVC by changing `volumeClaimTemplate.resources.requests.storage` value.

Unfortunately, the `Updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden

[2020-11-12 12:40] elwood218 commented on #893
Hi @jmlrt ,
Ah ok thanks for clearing that! I will further reading in that and thanks for providing the workaround. I will write that down if we have such an issue in productive systems.

So I guess we can close that ticket then.

[2020-11-12 12:40] #893 closed

[2020-11-12 13:18] jmlrt commented on #851
Hi @milijander88,
The good news is that PVC are never deleted by this chart so changing back `nodeGroup` and `masterService` to previous values should be enough to re-use the disks with datas.

As for the procedure to resize disk, changing `volumeClaimTemplate.resources.requests.storage` value would fail with `Updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStr

[2020-11-12 14:15] jmlrt commented on #656
Hi @Wykiki,
`storageClass` and `size` are part of `volumeClaimTemplate` value and not `persistence` value (see comment just above).

AFAIK, `volumeName` arent' compatible with `volumeClaimTemplates` for Statefulset.

Following [StackOverflow](https://stackoverflow.com/questions/46442238/can-i-rely-on-volumeclaimtemplates-naming-convention), PVC generated by `volumeClaimTemplates` seem to rely on `

[2020-11-12 14:24] jmlrt commented on #518
Statefulsets don't allow currently to specify a name for PVC generated by `volumeClaimTemplates`.

Following [StackOverflow](https://stackoverflow.com/questions/46442238/can-i-rely-on-volumeclaimtemplates-naming-convention), PVC generated by `volumeClaimTemplates` seem to rely on `<Statefulset.volumeClaimTemplates.metadata.name>-<Statefulset.metadata.name>-<count>` convention

Elasticsearch chart

[2020-11-12 14:36] jmlrt opened #894 "Add doc to manage PVC in Elasticsearch FAQ"
There is a lot of questions about the procedure to resize Elasticsearch PVC by migrating to new chart release (https://github.com/elastic/helm-charts/issues/647#issuecomment-636778450).
This should be documented in the FAQ.

In the same way, we should document the way to create PVC matching `VolumeClaimTemplates` naming convention outside of Elasticsearch chart (https://github.com/elastic/helm-cha

[2020-11-12 15:42] ryan-dyer-sp opened #895 "[filebeat] - Support ServiceMonitor for metrics collection"
**Describe the feature:**
Add a servicemonitor template to the helm chart so those using prometheus can easily scrape metrics using the filebeat helm chart.

**Describe a specific use case for the feature:**
As a user of the filebeat helm chart I want a way for my prometheus cluster to readily scrape the metrics from filebeat.  As filebeat does not have native openmetrics support, I have added the

[2020-11-13 03:13] austinxishou commented on #179
My error is custom define fullnameOverride,So I unset the fullnameOverride value, that make it work.

[2020-11-13 10:52] MaxymVlasov commented on #894
Here is a workaround for EKS

<sup>I use `helmfile`, but for the vanilla helm, it should not very different.</sup>

1. Make sure that `helmfile -f helmfile.yaml diff` not produce changes
2. https://www.jeffgeerling.com/blog/2019/expanding-k8s-pvs-eks-on-aws
3. Change `storage` in Elasticsearch values.<br>
4. Fix apply error (`Error: UPGRADE FAILED:..`) by removing old helm-chart revisions
For this

[2020-11-14 07:52] jamshid commented on #401
Hopefully coming, helm 2 is EOL. https://helm.sh/blog/helm-2-becomes-unsupported/

[2020-11-16 06:56] elwood218 commented on #893
@jmlrt I didn't had a look in detail but I just upgraded a Statefulset in that Chart: `prometheus-community/kube-prometheus-stack`
It was only updating the Statefulset and not the PVC which I was updating manually afterwards - but at least the Helm upgrade didn't fail.

[2020-11-16 07:49] jmlrt commented on #893
I didn't find any statefulset template in https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack. I never used it but I guess if some statefulset is deployed it must be deployed by the Prometheus operator which is deployed by this Helm chart so the Helm chart himself doesn't manage any statefulset.

In the same way, if you want to use an operator to deploy Elast

[2020-11-16 07:53] elwood218 commented on #893
You are right. Didn’t remember the operator..

[2020-11-16 08:02] jmlrt commented on #895
Hi @vinothayyavoo, thank you for this feature request.
`ServiceMonitor` isn't a Kubernetes standard but is specific to Prometheus.
We may revisit it later, but want to avoid managing integration with third party resources outside of Elastic products and Kubernetes standard resources in Elastic charts currently.

[2020-11-16 08:02] #895 closed

[2020-11-16 11:15] jmlrt commented on #401
Current status of Helm 3 support work:

- ✅ `helm install` of all charts with default values with Helm 3 (Logstash fixed in #695 + #776 + #839)
- ✅ `helm lint --strict` for all charts (deprecated K8S API replaced in #890)
- ✅ `heritage` labels removed from K8S immutable field in #437 and #516
- ✅ K8S deprecated `Capabilities.KubeVersion.GitVersion` replaced in #516
- ✅ Doc updated with Helm 3 comm

[2020-11-16 21:30] jeff-vanslyke opened #899 "wrong type for value; expected string; got []interface {}"
**Chart version:**
7.9.3
**Kubernetes version:**
19.4
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
Bare Metal
**Helm Version:**
3.4

**Describe the bug:**
So correct me if I'm wrong (I haven't had to do this before, and I don't believe it's a bug, I'm just stupid) However, I pull down/Download helm chart 7.9.3. I make changes to the logstash values.yaml, then try to deploy, and I g

[2020-11-17 06:20] jacquesvdm7 commented on #899
I am so glad I am not the only one that gets this error. Have been waiting for resolution for months on this issues. Also logged it but seems like the issue log disappeared.

[2020-11-17 07:39] jmlrt commented on #899
Hi @jeff-vanslyke,

Your values file is unreadable. Can you format it well using [Markdown code block](https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code)?

[2020-11-17 07:41] jmlrt commented on #899
@jacquesvdm7,
I didn't find any issues created by you in this repo. Where did you logged it?

[2020-11-17 09:03] mcmarkj commented on #892
Hey @jmlrt

Do you know the rough timescales for the 7.10.0 release? 😄

[2020-11-17 09:12] jmlrt commented on #892
We don't have any date yet but I expect 7.10.0 release to happen pretty soon, before the end of the month for sure.

[2020-11-17 10:12] jacquesvdm7 commented on #899
Let me check and come back to you.

From: Julien Mailleret <notifications@github.com>
Sent: Tuesday, 17 November 2020 09:42
To: elastic/helm-charts <helm-charts@noreply.github.com>
Cc: Van Der Merwe, Jacques: Absa <Jacques.VanDerMerwe@absa.africa>; Mention <mention@noreply.github.com>
Subject: Re: [elastic/helm-charts] wrong type for value; expected string; got []interface {} (#899)

@jacquesvdm7<

[2020-11-17 10:19] jacquesvdm7 commented on #899
Its sooo long ago so I am searching the net for my name.
So far I found this issue log where I commented on someone else having the same issue
https://github.com/elastic/helm-charts/issues/162

From: Julien Mailleret <notifications@github.com>
Sent: Tuesday, 17 November 2020 09:42
To: elastic/helm-charts <helm-charts@noreply.github.com>
Cc: Van Der Merwe, Jacques: Absa <Jacques.VanDerMerwe@absa.af

[2020-11-17 10:28] jmlrt commented on #899
@jacquesvdm7 ,

We're not really monitoring closed tickets so it's normal we didn't see it.
In addition, in #162 user use a different chart and have a different error, so I don't really understand how this can be a similar issue.

If you still have this problem with Logstash chart and the same error message than here, you can post here all the details required in [bug report template](https://gith

[2020-11-17 11:04] #492 closed

[2020-11-17 12:45] jacquesvdm7 opened #905 "helm upgrade --install fails with error "panic: interface conversion: interface {} is string, not map[string]interface {}""
**Chart version:**
7.9.3

**Kubernetes version:**
v1.15.11-rancher1-3

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
Rancher

**Helm Version:**
3.4

**`helm get release` output**
PS C:\Development\rancher-v2.2.0> .\helm get all release
Error: query: failed to query with labels: secrets is forbidden: User "u-3aishzuwzg" cannot list resource "secrets" in API group "" in the namespace

[2020-11-17 15:20] jeff-vanslyke commented on #899
@jmlrt Is that slightly better? (still sorting this out) But I hope it's cleaner than it was.

[2020-11-17 21:26] dcvtruong opened #908 "Syntax error from Elasticseach security examples makefile"
**Chart version:**7.9.3

**Kubernetes version:**1.17.9

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)AKS

**Helm Version:**3.0

**`helm get release`**n/a

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting.*

<de

[2020-11-17 21:47] #908 closed

[2020-11-18 09:35] dominik-bln commented on #401
Helm 3 made changes to how tests are cleaned up. Before it was possible to run `helm test --cleanup ..`, now the manifests seem to need an annotation `"helm.sh/hook-delete-policy": hook-succeeded` to be properly deleted (as briefly mentioned [at the bottom of the new docs](https://helm.sh/docs/topics/chart_tests/#notes)).

When running the chart with Helm 3 we are seeing the tests pile up:

<img w

[2020-11-18 10:10] AronNovak opened #909 "Readiness probe failed: Waiting for elasticsearch cluster to become ready"
**Chart version:**
https://github.com/elastic/helm-charts/tree/7.9

**Kubernetes version:**

[code]

**Kubernetes provider:** Azure Kubernetes Cluster

**Helm Version:**
`version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", GitTreeState:"clean", GoVersion:"go1.14.11"}`

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[cod

[2020-11-18 10:54] jmlrt commented on #909
Hi @AronNovak,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2020-11-18 10:59] jmlrt commented on #899
Yeah that's better. I'll try to foind time to investigate soon.

[2020-11-18 10:59] jmlrt commented on #905
Hi XXX,
Thanks for opening this issue.
I'll try to investigate it soon.

[2020-11-18 11:07] jmlrt commented on #889
Hi @kcalliauw,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2020-11-18 11:09] jmlrt commented on #722
Hi @teebu,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2020-11-18 11:10] jmlrt commented on #597
Hi @zycon,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2020-11-18 11:10] jmlrt commented on #317
still valid

[2020-11-18 11:50] jmlrt commented on #829
FYI ECK Helm chart has been released with ECK 1.3.0 and can be installed using the following instructions: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-install-helm.html

[2020-11-18 14:27] jmlrt commented on #401
@dominik-bln, Thanks for the tips, I thought that test pods where cleaned automatically with Helm 3 but it seems not. I created #911 to fix it.

[2020-11-18 16:08] jmlrt commented on #766
This is not required and not recommended.

You should use Metricbeat deployment pod in Metricbeat chart with [Elasticsearch module](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-elasticsearch.html) to monitor Elasticsearch.

Actually unlike with Prometheus, we don't need anything into Elasticsearch chart for that.

The only thing you need is to add the following config

[2020-11-18 16:33] jmlrt commented on #909
In the meantime, can you paste only the values that you overrode in `values.yaml`?
It would make investigation easier.

[2020-11-18 17:20] #829 closed

[2020-11-18 20:08] jycamier commented on #909
Same thing for me on `7.9.3` version.
Here's my values :

[code]

[2020-11-18 22:54] MaxRink opened #912 "Logstash ExtraVolumes are broken"
**Describe the bug:**
The "ExtraVolumes" Values section in the helm chart is broken and just outputs
'''
 template: logstash/templates/statefulset.yaml:131:14: executing "logstash/templates/statefulset.yaml" at <.Values.extraVolumes>: wrong type for value; expected string; got []interface {}
'''
**Steps to reproduce:**

1. Comment out the example in the values yaml
2. run helm template .

**Expect

[2020-11-19 06:33] jmlrt commented on #748
closing as stale

[2020-11-19 06:33] #748 closed

[2020-11-19 06:39] jmlrt commented on #912
Hi @MaxRink, as mentioned in the error message and in the value description, `Statefulset` expect `extraVolumes` to be a string and not a map.

When uncommenting the example, you should add a `|` to make yaml use the value as a string.

[code]

[2020-11-19 06:46] jmlrt commented on #905
@jacquesvdm7,
I don't see any command or value which seem related to [Logstash Helm chart](https://github.com/elastic/helm-charts/tree/master/logstash) in your issue description which make it impossible to investigate.

Could you reproduce it with the non modified chart outside of rancher and paste your `helm install` command and `values`?

[2020-11-19 06:58] jmlrt commented on #899
@jeff-vanslyke,

Looking quickly at your values, it seems that your `logstashConfig` is not well formated.

You seem to have

[code]

while it should be

[code]

[2020-11-19 07:43] jmlrt commented on #909
@jycamier, I couldn't reproduce it, deploying 7.9.3 chart with your values on Minikube is working well:

[code]

[2020-11-19 07:45] AronNovak commented on #909
@jmlrt Can it be dependent on the timing? I try to install it into Azure, where I guess everything happens slowly compared to a local Minikube. Can you advise which timeout values should I tweak? I am happy to do some trial and error to make it succeed.

[2020-11-19 07:58] jycamier commented on #909
Indeed. Thank you
That's happened at the limits of my ressources. So, it's probably pebkac. :smiley:

[2020-11-19 08:00] jmlrt commented on #909
@AronNovak, I didn't test these Helm charts on AKS yet I don't have good numbers to give but the values to tweak should be the following ones:

https://github.com/elastic/helm-charts/blob/79a9dac15c09b0a2eaa632535a8361a51281bb83/elasticsearch/values.yaml#L213-L221

In addition, I would advise you to use [7.9.3 release version](https://github.com/elastic/helm-charts/releases/tag/7.9.3) instead of `

[2020-11-19 08:44] AronNovak commented on #909
@jmlrt Thanks for the details, actually you're right, I was confused by the error messages without another message saying that it's alright now:
[code]
It's definitely healthy.

Also `helm list --namespace=dummy-elasticsearch` shows the chart installed.
Thanks for the suggestion, I'll switch to the release version.

[2020-11-19 08:44] #909 closed

[2020-11-19 08:46] jacquesvdm7 commented on #905
Unfortunately I cannot just run helm install manually to install to the company Rancher cluster, I am not authorized to perform helm install outside of the our Jenkins build . I will have to build my own Rancher cluster and test it there.

[2020-11-19 14:04] ebuildy commented on #892
BTW you can still set``imageTag`` value to 7.10.0  in order to deploy this version.

[2020-11-19 16:22] jeff-vanslyke commented on #899
Well, like I said. I'm retarded because that worked. I appreciate you putting up with me on this.

[2020-11-19 17:31] ebuildy opened #917 "[elasticsearch] Real rolling upgrade (pod + ES cluster-aware)"
**Describe the feature:**

When running a "helm update", pods are replaced 1 by 1, hence ES cluster is not broken during the upgrade (which is cool^^).

But ES cluster have no idea of what is going on, when a node have left, cluster is rebalancing data shards across the cluster.

The feature would be to apply a real "cluster upgrade / restart", as described at https://www.elastic.co/guide/en/elast

[2020-11-20 11:30] #396 closed

[2020-11-20 18:23] jmlrt commented on #401
Helm 3 work is done and will be part of 7.10.0 release soon.

[2020-11-20 18:23] #401 closed

[2020-11-23 16:18] desaintmartin commented on #150
So is that a feature or a bug ? Should we consider the current naming as the way to go?

[2020-11-23 22:07] cavamagie opened #931 "helm install logstash elastic/logstash --set maxUnavailable=0"
Warning  FailedCreatePodSandBox  7m7s                  kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "logstash-logstash-0": Error response from daemon: container ad54bb1a78eb646b9d86d0479a33313ffb36b73014253d3af9cdce2511bf3bb1 encountered an error during CreateProcess: failure in a Windows system call: The user name or p

[2020-11-23 23:00] #931 closed

[2020-11-23 23:00] cavamagie commented on #931
f

[2020-11-24 08:37] jmlrt commented on #892
7.10.0 has been released yesterday: https://github.com/elastic/helm-charts/releases/tag/7.10.0

[2020-11-24 08:37] #892 closed

[2020-11-24 09:52] mtruneck opened #933 "[elasticsearch] Add a way for the readiness check to accept yellow state temporarily"
**Describe the feature:**
Enable manually allowing the readiness check to accept yellow state temporarily. E.g. by creating a file inside the pod, which would be deleted automatically once it reaches the green state.

**Describe a specific use case for the feature:**
When all the nodes crash and then are starting again, e.g. after depleting memory/heap on all nodes, all the nodes wait for the gree

[2020-11-24 11:05] jmlrt commented on #150
Hi @desaintmartin,
As mentionned in https://github.com/elastic/helm-charts/issues/150#issuecomment-499513145, despite there is good reasons for changing it, this is not something we will change before next major release (8.0.0), so yes the current naming is the way to go for now.

[2020-11-24 13:19] jmlrt commented on #785
This is still valid, however we won't be able to handle it in the short run.
Would you be interested by creating a PR?

[2020-11-24 13:29] jmlrt commented on #774
Metricbeat daemonset is used to retrieve internal metrics from the node where it is running, which explains that it sometimes need to access the node host network to get these information (ie: real node name instead of pod name).

However, AFAIK, Metricbeat deployment is used instead to retrieve external metrics independently of the node where it is running (ie: query an external API like K8S clus

[2020-11-24 13:29] #774 closed

[2020-11-24 13:32] jmlrt commented on #557
Hi @nerddelphi & @ados1991,
Sorry for the late answer.
I don't see a good use case needed mounting additional volumes for Kibana.
Could you give more details why this is needed?

[2020-11-24 13:39] jmlrt commented on #707
closing as stale

[2020-11-24 13:39] #707 closed

[2020-11-24 13:58] caiconkhicon commented on #785
@jmlrt : I think I can. Give a one week, I will try to find a time when I can do it.

[2020-11-24 14:02] jmlrt commented on #899
I'm closing the issue as it seem fixed now, don't hesitate to comment it if you have any question.

[2020-11-24 14:02] #899 closed

[2020-11-24 14:06] jmlrt commented on #917
Hi @ebuildy,
Thank for submitting this request.
That makes sense, however I don't think that's something we can easily do with Helm.
I would recommend using our [ECK operator](https://github.com/elastic/cloud-on-k8s) for this kind of advanced rollout needs.

[2020-11-24 14:12] jmlrt commented on #813
Hi @iantheparker,
Thanks for opening this issue.
We could use a `matchLabels` value and default to `{{ template "elasticsearch.uname" . }}` if `matchLabels` isn't defined. Would you be interested to submit a PR for that?

[2020-11-24 14:15] jmlrt commented on #933
Hi @mtruneck,
Thanks for submitting this request, unfortunately we won't have time to think about it soon so please be patient.

[2020-11-24 16:55] utkuozdemir opened #934 "[filebeat] Allow running as Deployment as an anternative to DaemonSet"
**Describe the feature:**
Introduce a new key `kind` into the `values.yaml` which is set to `DaemonSet` by default, but can be set to `Deployment` instead - so the application runs as a Deployment.

**Describe a specific use case for the feature:**
I have a use case where I need to run only a single instance of Filebeat, which would tail a single file in a specific location in a PVC. For a such us

[2020-11-24 17:08] jmlrt commented on #934
Duplicates of https://github.com/elastic/helm-charts/issues/821

[2020-11-24 17:08] #934 closed

[2020-11-26 17:16] #644 closed

[2020-11-27 17:16] #589 closed

[2020-11-29 12:19] caiconkhicon commented on #785
@jmlrt : There is another problem to let apm-server run as root: the binary is owned by `root` and cannot be ran by others:
[code]

Thus, when running it as non-root, this error appears:
[code]

I think the fix should be in the `apm-server` image. Can you do it? or where to do it? I don't see it looks quite like https://github.com/elastic/apm-server/blob/master/Dockerfile

[2020-11-29 21:04] abdennour opened #947 "elastic helm repo cannot be proxied thru Sonatype Nexus"
**Kubernetes version:** 1.17

**Kubernetes provider:** on-prem
**Helm Version:** 3.2.4

**Describe the bug:**

- The chartmuseum helm.elastic.co cannot be proxied thru Sonatype Nexus.

**Steps to reproduce:**

1.  Create helm(proxy) repo in Sonatype Nexus with name `helm-charts-elastic` and original URL `https://helm.elastic.co`
2. add repo `helm repo elastic-offline http://mynexus:8081/repository

[2020-11-30 02:05] abdennour commented on #780
But if i have to change `healthCheckPath` to a new value , why is not the default value ?
Guys, please check best practices implemented in som helm git repos ( e.g: bitnami,.. etc) and mimic them.
Overall, good job! thanks!

[2020-11-30 03:11] Vickey-Wu opened #948 "Get error `IOException[keystore password was incorrect]` when set xpack enable"
**Chart version:**
[code]
**Kubernetes version:**
[code]
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
[code]
**Helm Version:**
[code]
**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pas

[2020-11-30 09:02] jmlrt commented on #948
Hi XXX,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2020-11-30 09:06] jmlrt commented on #947
Hi @abdennour,
Thanks for opening this issue.
AFAIK, I don't see any reason why this wouldn't work. Elastic Helm repo is pretty standard.
Not sure that we'll be able to help here as we don't use and don't have knowledge of Sonatype Nexus for Helm.

[2020-11-30 09:07] jmlrt commented on #734
still valid

[2020-11-30 09:12] jmlrt commented on #785
@caiconkhicon,
Can you open an issue [to apm-server repo](https://github.com/elastic/apm-server/issues/new?labels=enhancement&template=feature-request.md) for that?

[2020-11-30 09:14] Vickey-Wu commented on #948
OK，Thanks for reply.

[2020-12-01 04:28] saidev680 opened #949 "wrong type for value; expected string; got map[string]interface {}"
We are using filebeat from leastic search and using version 7.10.0.
while deploying the the filebeat using helm, getting below error:

 filebeat/templates/daemonset.yaml" at <include (print .Template.BasePath "/configmap.yaml") .>: error calling include: template: filebeat/templates/configmap.yaml:15:20: executing "filebeat/templates/configmap.yaml" at <4>: wrong type for value; expected string; g

[2020-12-01 08:17] jmlrt commented on #949
Hi @saidev680, can you fill the [bug report](https://github.com/elastic/helm-charts/issues/new?template=bug_report.md) template with all details requested?

[2020-12-01 13:34] metal3d opened #953 "Badly named metadata.name gives error in loop in Rancher, and fill up the hard drive"
**Chart version:**
master

**Kubernetes version:**
1.17

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
Bare metal cluster, with Rancher 2.2.6

**Helm Version:**
3

**Describe the bug:**

Since several days, the git repository is not usable with Rancher, there is a problem with `metadata.name`. Rancher logs in loop and ***fills up the hardrive with errors**.

**Steps to reproduce:**

[2020-12-01 15:05] jmlrt commented on #953
Hi @metal3d,

Can you give more details about this? We aren't using Rancher and don't know how it's working.

Just a note that master branch of this git repository is using snapshot versions of the charts and Elastic Docker images and is for developments only.

Regarding your error message with references to SNAPSHOT (`Invalid value: "es-catalog-apm-server-8.0.0-SNAPSHOT"`), this seems related.

P

[2020-12-01 15:36] #531 closed

[2020-12-01 17:11] #841 closed

[2020-12-02 04:30] saidev680 opened #962 "error calling include: template: filebeat/templates/configmap.yaml:15:20: executing "filebeat/templates/configmap.yaml" at <4>: wrong type for value; expected string; got map[string]interface {}"
**Chart version:**  - latest ( 7.10.0)

**Kubernetes version:**.   Client Version: v1.19.4
                                            Server Version: v1.17.9-eks-a84824

**Kubernetes provider:* - Amazon EKS

**Helm Version:** -  v3.4.1

**`helm get release` output**

e.g. `helm install filebeat`

[code]

Syntax error while installing filebeat helm chart
**Describe the bug:**
                I am

[2020-12-02 04:56] jmlrt commented on #949
Replaced by #962

[2020-12-02 04:56] #949 closed

[2020-12-02 05:09] saidev680 commented on #949
@jmlrt can you please comment what is the error?

[2020-12-02 05:18] saidev680 commented on #962
@jmlrt  can you please comment what is causing this syntax error?

[2020-12-02 14:18] metal3d commented on #953
Hi @jmlrt,

Thanks for you answer.

Rancher allows the usage of a git repository as a helm chart source. https://www.rancher.co.jp/docs/rancher/v2.x/en/catalog/#add-custom-git-repositories

I actually didn't use helm repository (because I didn't found it months ago when we added this repository) and that's a bit complicated now to switch to helm repo source. Because the "old" installations will no

[2020-12-02 14:33] jmlrt commented on #953
sure 👍

Note that if you can't migrate your setup to the Helm repo, maybe you can use the Git repo with the Git tag used to create released version instead a development branch.

For example you could try replace `master` branch by `7.10.0` to checkout the tag used to create 7.10.0 Helm version (https://github.com/elastic/helm-charts/tree/7.10.0).

[2020-12-03 07:24] caiconkhicon commented on #785
@jmlrt : I created an issue in https://github.com/elastic/apm-server and discussed with ppl there. It seems that this is not a bug/issue there but a security limitation. Thus, the apm-server pod must run with `runAsGroup: 0`. Should we fix it in the Helm chart or let users do it freely (like currently https://github.com/elastic/helm-charts/blob/master/apm-server/values.yaml#L78)

[2020-12-03 14:24] fabioqcorreia commented on #317
Birthday cake for this issue! 🎂

[2020-12-03 18:06] saidev680 commented on #962
@jmlrt  can you please help me with this?

[2020-12-04 13:00] abdennour commented on #933
ok @jmlrt ! we are waiting

[2020-12-04 14:16] alexandre-vaussant-axway opened #963 "Logstash Exporter - ServiceMonitor - PrometheusRules - Kubernetes deployment"
**Describe the feature:**

Why we don't have the capability to have an exporter from elastic with the official logstash helm chart.

**Describe a specific use case for the feature:**

All the metrics are centralized on Prometheus/Grafana stack.
Elastic allows to use metricbeats, but in my case i need to use prometheus operator for metrics scraping.
With this implementation we need an exporter, som

[2020-12-04 15:02] nfsouzaj commented on #317
I gave up on the idea of using elastic.

On Thu, Dec 3, 2020 at 9:24 AM Fábio Correia <notifications@github.com>
wrote:

[2020-12-04 16:55] eroteme commented on #963
I hope this functionality is also added but in the meantime I'm trying the following:

I have made the elastic chart a subchart of my own and added the missing `service` and `service monitor` manifests from the deprecated stable chart. This seems to be working to get the missing manifests but I can't seem to use the `extraContainers` helm value on the elastic chart to create the prometheus exporte

[2020-12-06 11:44] khanhvu161188 commented on #779
@teebu do you have any luck with this issue? Cause I have the same issue here,
the nginx ingress controller shows that there is no active endpoint in the service of ElasticSearch

[2020-12-06 21:29] teebu commented on #779
@khanhvu161188 no

[2020-12-07 08:36] metal3d commented on #953
I will try in a couple of minutes, thanks a lot

[2020-12-07 08:39] metal3d commented on #953
Ok it seems that using the right branch works (7.7 for this cluster).
Thanks a lot for your help.

[2020-12-07 08:39] #953 closed

[2020-12-07 08:58] jmlrt commented on #953
Great! Note that I would recommand using the [GitHub tags](https://github.com/elastic/helm-charts/tags) (ie: `7.7.1`) instead of branchs if rancher allows it.

[2020-12-07 09:22] mot256 commented on #720
Yes most charts now use the global.imageRegistry value to refer to the commonly used registry. This way you can set only one registry value used by all sub-charts (useful when scenarios where a public registry is not used). If you there is no "global" value, you have to set the registry for each sub-chart of an umbrella chart, and that could be very tedious, especially if you have many sub-charts.

[2020-12-07 09:27] khanhvu161188 commented on #779
@teebu I finally solved it now.
The reason it did not work is when we turn SSL for elasticsearch, the connection from ingress to service will be dropped cause TLS verification is failed.
You should modify the ingress in value.yaml like below

[code]

[2020-12-07 14:41] jmlrt commented on #962
Hi @saidev680, the syntax error means that the configmap expect to have values in string format but you provide values in map format.

I can't help more because you don't provide your values here.

Can you reproduce it outside of terraform and post your values?

[2020-12-07 14:45] jmlrt commented on #963
Hey @alexandre-vaussant-axway, as mentioned in #895, #802 and #231, `ServiceMonitor` isn't a Kubernetes standard but is specific to Prometheus. We want to avoid managing integration with third party resources outside of Elastic products and Kubernetes standard resources in Elastic charts currently.

[2020-12-07 14:45] #963 closed

[2020-12-08 03:18] saidev680 commented on #962
Thanks @jmlrt, it is resolved.

[2020-12-08 03:18] #962 closed

[2020-12-08 10:14] ebuildy commented on #889
Did you had a look at https://github.com/elastic/helm-charts/blob/master/elasticsearch/examples/microk8s/values.yaml ?

[2020-12-08 10:25] kcalliauw commented on #889
@ebuildy I think at the time I did, I can't currently check the status on this though, or if it happens again. I should be able to check specifics later this week if there's anything in particular you need to know.

I am assuming that the relevant portion of the values you're referring to is the PersistentVolumeClaim (volumeClaimTemplate)? In this case: yes I verified that the claim was created wi

[2020-12-09 15:10] hemantbhosale916 opened #967 "Filebeat chart deployed but no pods created"
I deployed the filebeat helm chart . and I got the message that chart is deployed
But no pods are created .

[2020-12-10 14:32] Xat59 commented on #851
@jmlr I am now able to resize the pvc using a second release in parallel, wait for the data sync, then removing the original.

But, doing that, it also renames the elasticsearch service regarding $clusterName-$nodeGroup . And this make the service unavailable because it has been renamed.

Any idea how to do it properly ?

[2020-12-10 14:35] jmlrt commented on #775
still valid 👍
was able to reproduce it and will need to fix helm test pod to handle authentication

[2020-12-10 16:45] jmlrt commented on #967
Hi @hemantbhosale916,
We'll need a lot more details to be able to help you.

Can you provide all details requested in our [bug report template](https://github.com/elastic/helm-charts/issues/new?template=bug_report.md)

[2020-12-14 04:07] saidev680 opened #976 "how can override values of output.elasticsearch.hosts inside the default helm chart of elastic/filebeat using --set option?"
Client Version: v1.19.4
Server Version: v1.17.9-eks-a84824

*Kubernetes provider: - Amazon EKS

Helm Version: - v3.4.1

helm get release output

e.g. helm install filebeat

I am using the elastic filebeat repo to install filebeat helm chart.

1.  command used : helm upgrade --install filebeat elastic/filebeat  --set output.elasticsearch.username=$username  --set output.elasticsearch.password=$pass

[2020-12-14 09:06] jmlrt commented on #976
Hi @saidev680,

`output.elasticsearch.hosts` is not a valid value for this chart.

You need to use:
[code]

I don't think there is a way to pass it through the command line using `--set` option.

[2020-12-14 09:07] #840 closed

[2020-12-15 03:41] saidev680 commented on #976
but we can not keep values directly in  output.elasticsearch.hosts inside

filebeatConfig:
  filebeat.yml: |
    # full content of the filebeat.yml config file
    # ...

because
 1. those values are changing as per env
 2. those are secret values.

is there any way to keep those values dynamic and use along with helm install command?

[2020-12-16 15:48] #967 closed

[2020-12-17 16:31] kevinsmithwrs opened #979 "elasticsearch multiple ingress rules."
Would be nice for the elasticsearch ingress.yaml to support multiple host/path rules like logstash ingress.yaml.

[2020-12-18 12:49] #821 closed

[2020-12-18 13:29] jmlrt commented on #979
Hi @kevinsmithwrs,
Thanks for opening this issue.
Would you be interested to submit a PR for that?

[2020-12-18 19:46] kevinsmithwrs commented on #979
Submitted: https://github.com/elastic/helm-charts/pull/994

[2020-12-21 14:39] jmlrt commented on #976
I would recommand passing these values as environment variables instead and referencing the environment variables in `filebeatConfig` value.

You can find an example where environment variables for Elasticsearch username and password are retrieved from a K8S secret which is the recommended way:

https://github.com/elastic/helm-charts/blob/b411ca6ca8a9a6860b45b44b3654f0b78e68e059/filebeat/examples/

[2020-12-21 21:12] kwsorensen opened #995 "Metric Beats and Filebeats collide with hostNetworking enabled."
**Chart version:** 7.10

**Kubernetes version:** 1.19

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine) Docker-Desktop

**Helm Version:** 3

**Describe the bug:**
Using metricbeat and filebeat helm charts with hostNetworking enabled collide on ports.

**Steps to reproduce:**

1. Helm install metricbeats with hostNetworking set to true
2. Helm install filebeat with hostNetworking set to

[2020-12-21 21:44] kwsorensen commented on #995
I believed that I have solved this by adding the following the filebeat values file.

filebeatConfig.http.port: "5607"

However in elastic the host.name is set to the name of the pod while kubernetes.host.name is the actual desired name.

![image](https://user-images.githubusercontent.com/29787085/102824947-0fdbff80-439b-11eb-947f-fe1dd8811dbc.png)

[2020-12-21 22:00] kwsorensen commented on #995
Note: I have found a work around which is to modify the filebeatConfig.filebeat.yml to include http.port as 5067.

`filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
          - logs_path:
              logs_path: "/var/log/containers/"
    http.port: "5067"
hos

[2020-12-21 22:02] kwsorensen commented on #995
Note I have found a work around which includes changing the filebeat port.

[code]

[2020-12-22 10:12] #979 closed

[2020-12-23 08:50] jmlrt commented on #808
closing as stale

[2020-12-23 08:50] #808 closed

[2020-12-23 09:35] jmlrt commented on #995
Hi @kwsorensen,

The default http.port for Filebeat and Metricbeat aren't managed by these charts but by [Filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/http-endpoint.html) and [Metricbeat](https://www.elastic.co/guide/en/beats/metricbeat/current/monitoring-metricbeat-collection.html) config.

The workaround you used is documented in Metricbeat doc:

However, this could also be m

[2020-12-23 09:51] jmlrt commented on #720
OK that make sense for umbrella charts.
PR is welcome to implement `global.imageRegistry` in a backward compatible way.
Not that this should be added to all charts or none for consistency.

[2020-12-23 10:44] ebuildy opened #998 "[elasticsearch] Add "service.enabled" parameter"
**Describe the feature:**

service.yaml should be optional.

**Describe a specific use case for the feature:**

In case of a pure data nodes Helm release, service is useless (I believe ..).

[2020-12-23 10:47] kwsorensen commented on #995
Created a [PR ](https://github.com/elastic/helm-charts/pull/997) to update the documentation for hostNetworking enabled on multiple beats agents.

[2020-12-23 11:34] jmlrt commented on #948
So I think this is failing because you create the certificate with a password and Elasticsearch need it to decrypt certificate.

According to [Elasticsearch doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-tls.html#tls-transport), you would need to add the certificate password to the keystore:

You can use this chart `keystore` for that (see [How to use the keystore

[2020-12-23 13:07] #995 closed

[2020-12-23 16:55] #976 closed

[2020-12-23 17:16] #772 closed

[2020-12-23 17:16] #761 closed

[2020-12-25 10:16] #773 closed

[2020-12-30 19:56] MykolaPelyp-SoftServe commented on #159
Something is wrong with your script, when running ```make secrets``` inside the examples/security directory I am getting: (last 4 strings of the error)
[code]

[2020-12-30 20:04] harsh4870 commented on #159
@MykolaPelyp-SoftServe  https://discuss.kubernetes.io/t/the-connection-to-the-server-localhost-8080-was-refused-did-you-specify-the-right-host-or-port/1464/4

[2020-12-31 12:33] ebuildy commented on #312
I am reading everywhere the solution to fix clusering issue is to remove data and restart ... I understand this is ok for dev and test, but on production, this can happen, is it a clean way to fix clustering issue?

[2021-01-01 02:40] wimo7083 opened #1002 "Adding a new master hr to perform a rolling upgrade conflicts"
**Chart version:** 6.8.9 -> 7.10.1

**Kubernetes version:** v1.17.13-gke.2600

**Kubernetes provider:** GKE

**Helm Version:** 3

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pasting.*

*If you find

[2021-01-01 14:47] obenziane2 commented on #783
I'm having the same issue running it on AWS Fargate. The fact that we can not run it on a privileged mode, I had to disable these settings from values.yml:

[code]

But I end up with Max file descriptors being too low:

`[2]: max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]
`

Any suggestions to run it on Fargate ?

[2021-01-04 09:30] jmlrt commented on #536
still valid

[2021-01-04 09:30] jmlrt commented on #404
still valid

[2021-01-04 14:47] ebuildy commented on #851
I forgot to mention: "remove StatefulSet before" (this will not remove associated pods), I used it many-times without data loss

[2021-01-05 10:25] jmlrt commented on #527
still valid

[2021-01-05 18:36] ryandawsonuk opened #1008 "basic auth not being enforced for config example"
Am following the [config example](https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/config) to set basic auth. Have cloned the repo and am following it exactly except for this one change:

[code]
Had to change this from the example which says [elastic-credentials](https://github.com/elastic/helm-charts/blob/master/elasticsearch/examples/config/values.yaml#L9) but it must me

[2021-01-06 08:32] #785 closed

[2021-01-06 09:56] jmlrt commented on #1008
Hi @ryandawsonuk, thanks for reporting this => #1012 should fix it

[2021-01-06 10:00] ryandawsonuk commented on #1008
@jmlrt that will get past the secret not found error and I made that change locally. But even with that change I get a 200 from `curl http://localhost:9200/_cat/indices`. If basic auth is being enforced then that should be unauthorized.

[2021-01-06 11:51] kullwindergit commented on #905
I was testing forgerock devops version 7.0 and getting same stderr while running skaffold delete or skaffold run

running [kustomize build ./kustomize/overlay/7.0/all]
 - stdout: ""
 - stderr: "panic: interface conversion: interface {} is string, not map[string]interface

[2021-01-06 12:01] ryandawsonuk commented on #1008
@jmlrt found the problem, the missing ingredient is the xpack.security.enabled flag:
[code]

[2021-01-06 12:29] jmlrt commented on #830
closing as stale

[2021-01-06 12:29] #830 closed

[2021-01-06 19:35] #1008 closed

[2021-01-06 23:30] kudrew opened #1013 "7.10.1 Elasticsearch pods aren't readying up but curl -k http://localhost:9200/_cluster/health says green"
I'm deploying elasticsearch 7.10.1 on GKE with xpack security and TLS on HTTPS enabled via helm3 and my elasticsearch pods aren't readying up.

GKE tells me: `Readiness probe failed: Waiting for elasticsearch cluster to become ready (request params: "wait_for_status=green&timeout=1s" ) Cluster is not yet ready (request params: "wait_for_status=green&timeout=1s" )`

When I open a shell into elastic

[2021-01-06 23:32] kudrew commented on #1013
Relevant slack thread here: https://elasticstack.slack.com/archives/CNTP6NLTZ/p1609969609026200

[2021-01-07 07:59] hagsfdf commented on #745
So how did you managed to disable stdout logging, if your own pipeline event is being intercepted?

[2021-01-08 08:08] SubhamPramanik commented on #312
We're also facing the same issue, we recently upgraded our ES from 6.8 to 7.7. We're getting a similar error as mentioned in https://github.com/elastic/helm-charts/issues/312#issuecomment-545098138.

We're using replicas:1 and tried to use discovery single-node config but it started crash looping as mentioned by @Dexolite.

Unfortunately, deleting PVs didn't help either. Is there anything else tha

[2021-01-08 13:23] maranmaran commented on #588
And what to do with that information. By looking at it, it seems to me my cluster and nodes has enough memory and cpu for elastic yet it always comes back with insufficient memory errors like you posted.

[2021-01-08 19:40] lukeplausin opened #1014 "Cannot install logstash plugin using this chart"
**Chart version:**

7.10

**Kubernetes version:**

1.16

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)

**Helm Version:**

3

Hi, I'm trying to get on board with the helm logstash chart.
It seems that there is no way to install plugins using the chart here.

I've tried
- Using an init container (I can't see any way to bind mount the plugins directory)
- Adding lines to the logstash

[2021-01-11 08:14] jmlrt commented on #1014
Hi @lukeplausin,
The recommended way to install plugins is described in the FAQ: https://github.com/elastic/helm-charts/tree/master/logstash#how-to-install-plugins

[2021-01-11 08:14] #1014 closed

[2021-01-11 11:39] thuban-arrakis commented on #842
Same issue.
[code]
Well that wierd 'couse configure-sysctl container uses same image as elasticsearch.
[code]

[2021-01-11 13:18] jmlrt commented on #855
related to https://github.com/elastic/elasticsearch/issues/66409

[2021-01-13 15:37] jmlrt commented on #474
still valid

[2021-01-13 17:31] NickLavrov commented on #489
In case anyone finds their way here, I solved this by first uninstalling filebeat so that no pods would be trying to access that path, then deploying a daemonset of nginx pods to all nodes (as filebeat was deployed to all nodes) with storage configured to match that filepath:

[code]

Then you can exec into each one and remove the folder (you can script it if it's a huge number of nodes):

`kubect

[2021-01-14 16:23] heisenbergye commented on #889
it is a permission issue, need to allow user elasticsearch to read&write to`/usr/share/elasticsearch/data`，we can add a init container in `value.yaml` to solve it.
[code]

[2021-01-15 10:19] obeyda opened #1023 "[7.10.2] Can't create index pattern"
**Chart version:**
7.10.2

**Kubernetes version:**
1.19.3

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
AKS

**Helm Version:**
Version:"v3.4.2"

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

<details>
<summary>Output of helm get all elasticsearch</summary>

[code]

</details>

<details>
<summary>Output of

[2021-01-15 10:53] OultimoCoder commented on #131
Could this be reopened?

[code]

Loads dashboards for all modules when it would be nice if it just loaded them for the modules found.

[2021-01-15 23:12] connorworkman commented on #779
@khanhvu161188 thank you -- adding the backend-protocol annotation worked for me!

[2021-01-18 17:24] amit1411 opened #1024 "["error","elasticsearch","data"],"pid":6,"message":"[TimeoutError]: Request timed out"}"
**Chart version:**

3.4

**Kubernetes version:**

v1.17.9

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)

AKS

**Helm Version:**

3

At kibana startup , following messages started coming up
{"type":"log","@timestamp":"2021-01-18T16:02:55Z","tags":["error","savedobjects-service"],"pid":6,"message":"Unable to retrieve version information from Elasticsearch nodes."}
{"type":"log","@tim

[2021-01-20 20:53] j771 opened #1026 "Statsd module for Metricbeat"
**Chart version:**
7.10.0
**Kubernetes version:**
1.14
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
EKS
**Helm Version:**
3.2.4

I enabled the statsd module with a Metricbeat deployment like so:
[code]

This works in making Metricbeat start up the UPD server listening on port 8125.
I did not see an option for a service with this Helm chart so I created a service with selector to th

[2021-01-20 22:36] sidhuko commented on #783
I was having the same issue. As our developers are coming from docker-compose I want to make the transition as smooth as possible so enabled the `discovery.type=single-node` option by using a `singleNode: true` property in the values.yaml.

https://github.com/elastic/helm-charts/pull/1027

Please test this is working for you as well and let me know any feedback. I've not written python in quite so

[2021-01-21 18:12] byronmansfield commented on #783
I am also running into the same issue. Though in my scenario I am using the [multi approach used in their examples](https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/multi), and replica's of 2 with ES version 6.1.4. I tried updating the `clusterHealthCheckParams: "wait_for_status=[yellow,green]&timeout=200s"` with no avail. Nothing else coming out of the events or logs whic

[2021-01-22 14:59] MorrieAtElastic opened #1029 "Please Add Info On Running Elasticsearch/Example helm-charts Back To The Readme"
As far as I can see, the instructions for running the various Example helm-charts under Elasticsearch aren't included in the current README that one accesses at [https://github.com/elastic/helm-charts/blob/master/README.md](https://github.com/elastic/helm-charts/blob/master/README.md) or at [https://github.com/elastic/helm-charts/blob/master/elasticsearch/README.md](https://github.com/elastic/helm

[2021-01-23 22:45] knkarthik commented on #976
@jmlrt https://github.com/elastic/helm-charts/issues/976#issuecomment-749006664 didn't work for me. I'm using:
[code]
but the generated configmap always looks like:
ilebeat.inputs:
[code]
I manually packaged this chart and installed it from the `tgz` file it works perfectly.

[2021-01-24 02:03] knkarthik opened #1030 "Filebeat daemonset doesnot generate daemonset-config and can't override filebeatConfig values"
**Chart version:** : 7.10.2

**Kubernetes version:** 1.17

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine) EKS

**Helm Version:** v3.5.0

**`helm get release` output**

<details>
<summary>Output of helm get release</summary>

[code]

</details>

**Describe the bug:**
`filebeat-daemonset-config` is not generated and hence we can't override `filebeat.yml` values specified under `daemons

[2021-01-24 12:05] justinasjaronis opened #1031 "no way to specify loadBalancerIP in service"
Currently this chart does not provide way to specify static IP address for LoadBalancer type of service. Which is trivial if You need to run it as LoadBalancer.

Service should contain additional value i.e. extraSpec which should allow setting any custom variable to service spec.

extraSpec:
    loadBalancerIP: xx.yy.zz.ww

[2021-01-26 07:29] ebuildy opened #1032 "[logstash] Add podAffinity"
**Describe the feature:**

Be able to declare the STS ``podAffinity`` .

**Describe a specific use case for the feature:**

Logstash is an ETL, as such, it's very important logstash pod run closer as possible than input source or output target.

In our use case:

"we run a 3 RabbitMQ nodes cluster as logstash input, we want logstash to run on same node than rabbitMQ"

[2021-01-26 07:50] ebuildy commented on #1024
Can you print full Kibana values.yaml somewhere?

[2021-01-26 07:51] ebuildy commented on #1023
Are you able to use elasticsearch with Kibana ? try with the dev-tool console first.

[2021-01-26 08:20] ebuildy commented on #1013
Try changing in values.yaml:

    - clusterHealthCheckParams: "wait_for_status=green&timeout=1s"
    + clusterHealthCheckParams: "timeout=10s"

[2021-01-26 08:25] ebuildy commented on #1002
Why you dont upgrade the current Helm release?

Also, this is possible to attach another Helm release to:

``masterService``  --> your current master service

[2021-01-27 10:16] jmlrt commented on #1032
Hi @ebuildy,
That make a lot of sense.
Do you think you could provide a PR for that?

[2021-01-27 10:18] jmlrt commented on #1031
Hi @justinasjaronis, could you give a bit more details about your request?
Telling what chart need `LoadBalancerIP` would be a good start.

[2021-01-27 10:20] jmlrt commented on #1030
Hi @knkarthik,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2021-01-27 10:25] jmlrt commented on #1029
Hi @MorrieAtElastic,

The link to examples directory is still in the README in the [Usage Notes](https://github.com/elastic/helm-charts/blob/master/elasticsearch/README.md#usage-notes):

as a reference. They are also used in the automated testing of this chart.
[examples](https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/)

There is also direct links to the examples in most

[2021-01-27 10:28] jmlrt commented on #1026
Hi @j771,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2021-01-27 16:50] MorrieAtElastic commented on #1029
The examples and the purpose of each example are clearly present - and very well documented and very useful.

What I am not finding in the current repo is instructions on how to generate and execute the examples: as far as I can see, this information is only available at [https://github.com/elastic/helm-charts/blob/6.5.2-alpha1/elasticsearch/README.md#try-it-out](https://github.com/elastic/helm-ch

[2021-01-27 17:01] jmlrt commented on #1029
The instructions are directly documented into each example own README pages, ie: https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/security, this is easier to scale as we're adding newer examples.

not sure about what you mean here, the examples instruction with the `make` commands are directly deploying the Helm charts with the examples values.

[2021-01-27 17:23] obeyda commented on #1023
I had to remove the charts to try out Elastic Cloud on Kubernetes(ECK),
but when i had the three charts installed (elasticsearch, kibana and filebeat) i could see the logs in the Logs UI view of kibana,
also, as shown in the screenshot, i can see indices

[2021-01-28 03:22] asreich opened #1034 "Add support for PodSecurityPolicy on Elastic Helm Charts"
**Describe the feature:**

It'd be great if support for [PodSecurityPolicies](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) could be added in the Elastic Helm charts for those of us who need such security requirements enabled.

**Describe a specific use case for the feature:**

My organization uses the old public helm charts for [filebeat](https://github.com/helm/charts/tree/mas

[2021-01-28 09:16] #825 closed

[2021-01-28 13:16] #817 closed

[2021-01-29 05:13] jmlrt commented on #733
still valid

[2021-01-29 17:04] dcvtruong opened #1035 "Support for elastalert plugin"
**Describe the feature:**
[code]
**Describe a specific use case for the feature:**

[2021-01-29 21:06] Izvunzemen commented on #373
Same problem here, i was able to enable them from inside the container with filebeat modules binary, but adding them as documentation says didn't enable them.

[code]

[2021-01-30 19:10] Izvunzemen opened #1036 "Cannot enable Filebeat modules through values.yml"
**Chart version:**
7.9.2

**Kubernetes version:**

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
EKS

**Helm Version:**
3.2.0

I try to enable modules from values file, but it didn't work.
values.yaml configuration:
[code]

When i do helm install with this config in values file, nothing happen, i tried to list enabled modules inside the container with filebeat modules list, and ngin

[2021-02-02 12:33] jmlrt commented on #837
closing as stale

[2021-02-02 12:33] #837 closed

[2021-02-02 12:33] jmlrt commented on #852
closing as stale

[2021-02-02 12:33] #852 closed

[2021-02-02 13:16] #653 closed

[2021-02-02 15:08] MorrieAtElastic commented on #1029
Oh - there they are! Now that I know where to look I can find them. I didn't know where to look.

I would have included a general README with instructions on how to generate each example in the top of the Examples repo; I'll leave this to your choice. As I said previously I had to go hunting around to find the instructions on how to run the example helm charts.

I'll close this ticket.

[2021-02-03 10:15] oleg-brizy commented on #644
Similar to https://github.com/elastic/helm-charts/issues/644#issuecomment-659375988

[code]

[2021-02-03 11:18] carl-chenet opened #1041 "Deploy 2 load balancers from the logstash chart"
**Chart version:**
7.7.0

**Kubernetes version:**
1.8

**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
EKS

**Helm Version:**
2.17

I'm using a nlb load balancer for TCP connections, but I would also need another load balancer for the UDP because it is not currently possible to mix TCP and UDP. Is it possible to deploy 2 load balancer from the logstash chart ? I was unsucessful adding

[2021-02-03 14:15] jmlrt commented on #733
For later reference, kube-state-metrics chart is now hosted at https://github.com/kubernetes/kube-state-metrics/tree/master/charts/kube-state-metrics

[2021-02-03 15:26] ebuildy commented on #1032
hey, yes sure, I am on it right now!

[2021-02-03 17:19] ilhaan commented on #853
This issue has not been resolved so it should not be marked stale.

[2021-02-04 09:24] jmlrt commented on #1029
That's a great idea 👍.
I think that's something we can do. I'll let the issue opened to add the general example README, when I have more time.

[2021-02-04 17:59] mahesheBen opened #1045 "ElasticSearch endpoints not showing up in the cluster with helm upgrade"
**Chart version:**
elastic/elasticsearch --version 7.9.0

**Kubernetes version:**
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:18:23Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15

[2021-02-05 10:35] CyberHippo opened #1047 "apm-server multiple ingress rules."
It would be nice for the apm-server `ingress.yaml` to support multiple host/path rules like logstash or elasticsearch does.
Maybe through changes similar to #994.
Thanks.

[2021-02-05 10:37] Vaproc opened #1048 "Optional resource settings for Helm charts"
**Describe the feature:**
As already stated in the Elastic Docu (see [here](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-managing-compute-resources.html)), there is an issue with CPU limits and throttling. However, all Helm charts (at least ES, Kibana, Filebeat and Metricbeat) specify a CPU limit in the values.yaml files. Therefore it is not possible to remove the limit. The resource c

[2021-02-05 10:53] Vaproc opened #1049 "[filebeat] daemonset.resource doesn't get applied"
**Chart version:**
filebeat 7.10.2
**Kubernetes version:**
v1.18.6
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
kops
**Helm Version:**
v3.1.2

`helm upgrade filebeat elastic/filebeat -f values.yaml --debug --dry-run`

<details>
<summary>Output of command (shortened)</summary>

[code]
</details>

**Describe the bug:**
`values.yaml` for Filebeat states:

My values.yaml looks like:
<d

[2021-02-06 04:51] mahesheBen commented on #1045
I deleted the helm charts for Elastic and Kibana and then deleted the pvcs and installed the charts again, the issue solved itself closing this issue

[2021-02-06 04:51] #1045 closed

[2021-02-08 07:51] JorritSalverda opened #1050 "Make filebeat chart kubernetes-on-windows compatible"
**Describe the feature:**

Although filebeat itself works perfectly fine on Windows and Kubernetes on Windows the Helm chart is not configurable enough to use it for both Linux and Windows.

There's 2 notable things that need to be possible:

1. Volume `varlibdockercontainers` needs to have _hostPath_ `/ProgramData/docker/containers` to be able to find the container logs. It can still be mapped to

[2021-02-08 12:29] JorritSalverda commented on #1050
For using processor `add_kubernetes_metadata` correctly it's useful to set `mountPath: /ProgramData/docker/containers` as well, so preferably it's configurable via the same property.

That works in combination with `filebeat.yaml`:

[code]

[2021-02-08 12:51] JorritSalverda commented on #1050
I'm curious about why the `subPath` was used for the config mounts, since you can actually mount a configmap to `/usr/share/filebeat` and another directory to nested mount `/usr/share/filebeat/data`. But perhaps this didn't work in older versions of Kubernetes?

If it's needed I can add a toggle value in order to support both behaviours.

[2021-02-08 13:30] JorritSalverda commented on #1050
By the way, my Windows container looks like:

[code]

Still struggling with the sha verification but works fine otherwise.

[2021-02-08 21:08] hshar7 commented on #1013
@ebuildy that didn't fix it for me. `elasticsearch-master-2` is returning:
[code]

[2021-02-08 21:24] rpastrana opened #1055 "Filebeat Helm deployment reports use of deprected k8s api"
**Chart version:**
 7.9.3
**Kubernetes version:**
v3.5.0
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
Minikube

**Helm Version:**
v3.5.0

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy

[2021-02-09 09:11] ebuildy commented on #1013
look like a problem with your k8s cluster, not elasticsearch.

[2021-02-09 19:38] knkarthik commented on #1036
@Izvunzemen There's a reported bug https://github.com/elastic/helm-charts/issues/1030. Putting this under the deprecated config works.

[2021-02-10 11:44] Maalshekto commented on #137
I had the same issue and found an elegant solution using IBM documentations (https://cloud.ibm.com/docs/containers?topic=containers-file_storage#file_storageclass_reference)

First of all, you can make a little check :
make a `kubectl get pvc | grep elasticsearch`
if indicated STORAGECLASS is something like "ibmc-file-gold" (or silver/bronze), the right issues is expected to occur.
The solution im

[2021-02-10 12:17] DmitriySafronov commented on #312
You can set this variable to empty value like in snippet below:

[code]
P.S.: sorry for my bad English

[2021-02-11 09:37] mcmarkj opened #1059 "7.11.0 Charts"
👋 Hello!

Just checking what the timescales are for the 7.11.0 charts to be ready to coincide with the [release last night](https://www.elastic.co/blog/whats-new-elastic-7-11-0-searchable-snapshots-schema-on-read).

[2021-02-11 12:11] strakh-alex commented on #1030
@knkarthik make helm fetch elastic/filebeat and look inside of the chart. You will be surprised, I guarantee :)
It contains a different version of the templates than in the master branch.
There is only one {{- if .Values.filebeatConfig }} condition.

[2021-02-11 12:12] MaxymVlasov commented on #894
/unstale ?

[2021-02-11 17:13] ebuildy commented on #1059
Hello, as usually with every new elasticsearch releases ^^ you can set imageTag to any version you want! (even snapshot).

[2021-02-11 17:14] ebuildy commented on #1032
Hello @jmlrt , here the PR >> https://github.com/elastic/helm-charts/pull/1043

merci !

[2021-02-11 17:30] knkarthik commented on #1030
@strakh-alex Yeah, that was it. I was using master values instead of 7.10.1 release values. Thanks for pointing this out!

[2021-02-11 17:30] #1030 closed

[2021-02-12 08:24] cedricve opened #1060 "Example for deploying to GCP"
I cannot find an example to deploy the helm charts to GCP. Current examples are using local storage. There should be a section for explaining the onboarding of pv and storageclass.

[2021-02-12 08:36] cedricve commented on #1060
Please add this to the documentation somewhere or create a new example dir

    storageClassName: "standard"

[2021-02-12 10:20] cedricve opened #1061 "Kibana mismatch version Elestic nodes"
Tryin to install the kibana dashboard, but doesnt match the version of the elastic nodes.

     {"type":"log","@timestamp":"2021-02-12T10:17:08+00:00","tags":["error","savedobjects-service"],"pid":6,"message":"This version of Kibana (v8.0.0-SNAPSHOT) is incompatible with the following Elasticsearch nodes in your cluster: v7.10.2 @ 10.0.2.3:9200 (10.0.2.3), v7.10.2 @ 10.0.2.2:9200 (10.0.2.2), v7.10

[2021-02-12 10:26] cedricve commented on #1061
Sorry didnt the docs correct.

https://github.com/elastic/helm-charts/tree/master/kibana#installing

[2021-02-12 10:26] #1061 closed

[2021-02-12 22:11] knkarthik commented on #1049
@Vaproc `values.yml` for filebeat 7.10 looks like https://github.com/elastic/helm-charts/blob/7.10/filebeat/values.yaml. There's no separate daemonset/deployment.

[2021-02-15 06:58] mcmarkj commented on #1059
Am I mistaken, don't you usually create helm charts to match the version numbers of Elastic stack releases?

I intentionally inherit the imageTag from the Helm release version so they all move in parallel

[2021-02-15 13:59] oyoyo14 opened #1064 "Modify argument of the *beat* container"
**Describe the feature:**

Base on Filebeat chart, arguments of the filebeat container are hardcoded into the chart. It could be useful to be able to custom those arguments to modify the filebeat behaviour.

Example:

values.yml
[code]

**Describe a specific use case for the feature:**

This would be useful when you use a sidecar or an initcontainer to forge the configuration file (with ```consul-

[2021-02-15 14:16] #828 closed

[2021-02-15 14:18] ebuildy commented on #1059
nop, it's not a common practice, thats why Chart.yaml have "version" and "appVersion" (https://helm.sh/docs/topics/charts/).

[2021-02-16 10:48] jmlrt commented on #511
👍

[2021-02-16 10:49] jmlrt commented on #874
👍

[2021-02-16 17:07] denismatyu commented on #142
@harsh4870
```-XPOST 127.0.0.1:9200/_nodes/reload_secure_settings```
Try this one

[2021-02-17 00:04] rubans opened #1069 "Kibana GCE ingress with GKE seems to be broken"
**Chart version:**
7.10.2
**Kubernetes version:**
1.18+
**Kubernetes provider:** E.g. GKE (Google Kubernetes Engine)
GKE
**Helm Version:**
7.10.2

**`helm get release` output**

e.g. `helm get elasticsearch` (replace `elasticsearch` with the name of your helm release)

*Be careful to obfuscate every secrets (credentials, token, public IP, ...) that could be visible in the output before copy-pastin

[2021-02-17 00:23] ilhaan commented on #853
@jmlrt any updates on this? We upgraded ES and Kibana to 7.11 today we see the following when we launch multiple kibana pods:
[code]

[2021-02-17 12:16] Vaproc commented on #1049
@knkarthik You are right. I was in looking in the wrong branch (master or 7.11). Sorry!

[2021-02-17 12:16] #1049 closed

[2021-02-17 16:13] ebuildy commented on #1035
Please read: https://github.com/elastic/helm-charts/tree/master/elasticsearch#how-to-install-plugins

[2021-02-18 14:24] shamndor commented on #779
Greetings,

I still have same issue

this my ingress

![image](https://user-images.githubusercontent.com/11654099/108370287-8c5d5400-720d-11eb-9a26-bf36772de5f9.png)

this nginx ingress pod logs
![image](https://user-images.githubusercontent.com/11654099/108370637-ee1dbe00-720d-11eb-87f6-9e5cfb6135da.png)

this elasticsearch pod logs
![image](https://user-images.githubusercontent.com/11654099/1083

[2021-02-18 15:38] connorworkman commented on #779
@shamndor This is what works for me with ssl enabled (and a self-signed cert) on kibana and elasticsearch:
`ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/proxy-ssl-verify: "false"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  hosts:
    - elasticsearch.example.com
esConfig:
  elasticse

[2021-02-19 05:39] pachalk commented on #623
I am getting same issue for metricbeat 7.10.2 chart version. Repo - https://helm.elastic.co
Error: Exiting: missing field accessing 'metricbeat.modules.0.hosts.0' (source:'metricbeat.yml')

Can anyone know solution for this?

[2021-02-19 10:48] ebuildy opened #1073 "[apm-server] Example with metricbeat"
To share with you, how to configure metricbeat to run as a sidecar:

values.yaml

[code]

[2021-02-20 12:39] shamndor commented on #779
Thank you very much @connorworkman
I am using another  implementation nginxinc/kubernetes-ingress  so that the annotations did not work for me.

[2021-02-21 12:16] #869 closed

[2021-02-21 13:16] #746 closed

[2021-02-22 09:05] gilperme commented on #312
@SubhamPramanik commenting out the cluster.initial_master_nodes (in my case the configuration yaml) took care of this issue for me. Hopefully you've resolved. FYI, setting it to "" as @DmitriySafronov stated did not work in my case.

[2021-02-22 14:22] pachalk commented on #623
I got it missing env variables -
-name: NODE_NAME
  valueFrom:
  fieldRef:
  fieldPath: spec.nodeName

[2021-02-22 16:39] ebuildy commented on #1031
what chart are you talking about?

I know Kibana implements it already: https://github.com/elastic/helm-charts/blob/master/kibana/templates/service.yaml#L17 .

I am going to do a such PR for APM-server

[2021-02-22 18:34] justinasjaronis commented on #1031
Yeah sorry, it was about logstash chart. In my business case it's particularly important as You won't be able to use ingress for TCP input.

[2021-02-22 23:35] iluwaa opened #1076 "[kubernetes v1.19.7] filebeat doesn`t add kubernetes metadata"
**Chart version:** 7.6.2

**Kubernetes version:** v1.19.7

**Kubernetes provider:** aws

**Helm Version:** Version:"v3.2.1", GitCommit:"fe51cd1e31e6a202cba7dead9552a6d418ded79a", GitTreeState:"clean", GoVersion:"go1.13.10"

**Describe the bug:**
after kubernetes update to v1.19.7 filebeat doesn`t add kubernetes.metadata, so conditions like
[code]
is not working

[2021-02-23 01:43] evtimmy commented on #312
@gilperme @DaimyGovaert for me, setting the value to null did the trick:
  extraEnvs:
  - name: discovery.type
    value: single-node
  - name: cluster.initial_master_nodes
    value: null

[2021-02-23 08:16] #832 closed

[2021-02-23 12:15] tomskelley-gjs commented on #373
This is till a problem - is there an ETA on the fix please?

[2021-02-23 15:36] pheever commented on #511
This feature also makes sense when deploying metricbeat to collect filebeat stats. The http port is not enabled and metricbeat fails to connect to it. The alternative to collecting filebeat stats is to have metricbeat as a sidecar, which is cumbersome.

[2021-02-23 17:17] jmlrt commented on #131
Hi @OultimoCoder,
`setup.dashboards.enabled: true` is an option coming from [Filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/configuration-dashboards.html#_setup_dashboards_enabled) and isn't something that we could change in the Helm charts. FYI, it seems that https://github.com/elastic/beats/issues/23651 track this request in Beats repository.

[2021-02-24 02:54] ceagone commented on #588
I had exactly the same issue. After running the top command to check my nodes memory and cpu utilization, there is enough to deploy the third replica of the daemonset. Anybody has any idea as to what to do?

[2021-02-24 03:01] nodesocket commented on #588
@ceagone the problem is requested resources.

Run:

kubectl describe node <node-id>

For each node and make sure requests and limits have enough available cpu and memory.

Top is showing current usage, where describe node shows allocations total.

[2021-02-24 09:36] jmlrt commented on #150
still relevant but will be fixed in 8.0.0 later.

[2021-02-24 09:37] jmlrt commented on #912
closing as stale

[2021-02-24 09:37] #912 closed

[2021-02-24 09:53] jmlrt commented on #518
closing as stale, doc should be added later in #894

[2021-02-24 09:53] #518 closed

[2021-02-24 10:00] jmlrt commented on #656
closing as stale, doc should be added later in #894

[2021-02-24 10:00] #656 closed

[2021-02-24 10:08] jmlrt commented on #781
closing as stale

[2021-02-24 10:08] #781 closed

[2021-02-24 11:23] dhinakar2707 commented on #851
@ebuildy Please can you once again share me the detailed steps to re-size the elastic search disk online.

Even as part of new project I have deployed elasticsearch with latest helm charts. Now I have to take it to production, but i'm afraid of re-sizing disk without downtime or data loss.
Your help would be much appriciated, so that i can test the upgradation before i move into production.

[2021-02-24 13:06] jmlrt commented on #1047
Hi @CyberHippo,
Thanks for reporting this request.
Would you be interested to provide a PR like #994 for it?

[2021-02-24 13:08] jmlrt commented on #1041
Hi @carl-chenet,
Thanks for opening this issue.
Unfortunately we currently don't have time to work on it so please be patient.

[2021-02-24 13:34] jmlrt commented on #1034
Hi @asreich,
`PodSecurityPolicies` are currently supported by Elasticsearch (https://github.com/elastic/helm-charts/blob/master/elasticsearch/templates/podsecuritypolicy.yaml) and Logstash (https://github.com/elastic/helm-charts/blob/master/logstash/templates/podsecuritypolicy.yaml) but not the other charts.

A PR to add it for other charts in the same way that what is currently done for Elasticse

[2021-02-24 13:35] jmlrt commented on #1023
That's weird, I couldn't reproduce it myself.

[2021-02-24 13:46] jmlrt commented on #998
Hi @ebuildy, Elasticsearch chart use 2 different services, the ["standard" service](https://github.com/elastic/helm-charts/blob/ffd109085023a37211c259302e2d076d84eeca94/elasticsearch/templates/service.yaml#L2-L45) which is used for external access and the ["headless" service](https://github.com/elastic/helm-charts/blob/ffd109085023a37211c259302e2d076d84eeca94/elasticsearch/templates/service.yaml#L

[2021-02-24 13:49] jmlrt commented on #1076
Hi @iluwaa,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2021-02-24 14:22] jmlrt commented on #853
Hi @ilhaan, unfortunately no we don't have time to work on that currently.

[2021-02-24 14:41] jmlrt commented on #1059
Hi @mcmarkj, @ebuildy,

Despite not being a common practice in Helm, Elastic usually release new chart (`version`) with every stack release (`appVersion`) and officially support only chart version matching a stack version.

This is our way to ensure that charts are always properly tested and compatible with the last version from Elastic product.

However, using a specific chart version with a diff

[2021-02-24 14:41] jmlrt commented on #1059
[7.11.1](https://github.com/elastic/helm-charts/releases/tag/v7.11.1) is now released and is the good version to use.

[2021-02-24 14:47] jmlrt commented on #1064
Hi @oyoyo14,
Thanks for submitting this request 👍

[2021-02-24 14:55] jmlrt commented on #1060
Hi @cedricve,

All our charts are fully tested and used internally on GCP with default values.

`volumeClaimTemplate` is defined without `storageClassName` in default [values](https://github.com/elastic/helm-charts/blob/ffd109085023a37211c259302e2d076d84eeca94/elasticsearch/values.yaml#L99-L103) to make sure it's using the default storage class from your Kubernetes cluster.

`storageClassName` is

[2021-02-24 14:58] jmlrt commented on #1036
Hi @Izvunzemen,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2021-02-24 14:59] jmlrt commented on #1055
Hi @rpastrana,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2021-02-24 16:10] mcmarkj commented on #1059
Thanks @jmlrt - I knew it wasn't common practice for Helm. Was convinced I had read here before that you liked to keep helm charts moving at the same time as the stack releases - hence my question and confusion around the conflicting message.

Really appreciate the new release - keep up the good work.

[2021-02-25 03:04] zhu733756 opened #1083 "Can we disable the default setting of JVM heap size in statefulset.yaml?"
[Starting from version 7.11, Elasticsearch automatically sizes JVM heap based on a node’s roles and total memory.](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-jvm-heap-size.html)
With this higher-order version,  someone don't want to set the  default setting of JVM heap size,  the corresponding templates needs to be configured.
from `elasticsearch/templates/statefulset.yaml`
[code]
Ch

[2021-02-25 05:36] zhu733756 commented on #1083
By the way, after applying the configurations above.
In order to build a cluster in multi mode( refers to elasticsearch/examples/multi/),  I add custom data yaml like this below:
[code]
but it seems not work:
[code]
[code]

[2021-02-25 05:58] zhu733756 commented on #1083
After adjusting suitable limits, it works for me now:
resources:
  requests:
    cpu: "1000m"
    memory: "2Gi"
  limits:
    cpu: "2000m"
    memory: "4Gi"

[2021-02-25 11:23] ebuildy commented on #1083
You should request more CPU, elasticsearch use this value to build thread pool, and this is not dynamic (as far I know)

[2021-02-25 13:06] oyoyo14 commented on #1064
Hi @jmlrt,

I can make a PR from my repo if you want :)

[2021-02-25 16:03] kwsorensen commented on #317
Is Elastic open to the idea of a heartbeat Helm chart? Is it on the roadmap? As a paying elastic.co service would be valuable feature to have.

[2021-02-26 07:09] zhu733756 commented on #1083
@ebuildy
Thanks for your reply, I think you are right.

[2021-02-26 14:36] CyberHippo commented on #1047
Hi @jmlrt,
Yes, I'll take a look as soon as possible.

[2021-02-28 08:29] ichasco-heytrade opened #1085 "[Elasticsearch-OSS] Cannot Start using OSS version"
Hi, I am having an error when deploying elasticsearch-oss because is not compatible with `node.ml`. And the script force to add it.
The only way to run it is to edit manually the statefullset and delete:
[code]

It doesn't matter if I set it to false. It crash with this error:

[code]

**Chart version:** 7.11.1

**Kubernetes version:** v1.18.9

**Kubernetes provider:** EKS

**Helm Version:** v3.5.

[2021-03-01 08:44] jmlrt commented on #734
still valid

[2021-03-01 14:03] xrl commented on #1085
I had the same issue and I read over the templates a bit, looks like they take the entries from the release's role list and dynamically create ES config properties. The new default values include a `ml` and `remote_cluster_client` whose presence, true or false, would put an unsupported config in to my version of ES (`7.2.0` which I'm in the process of upgrading, hence this issue).

The fix? Don't

[2021-03-01 14:14] ichasco-heytrade commented on #1085
Thanks @xrl it seems to work like that! :)

[2021-03-01 14:15] xrl commented on #1085
Not positive this should be closed, this is a nasty bug for future users :)

[2021-03-01 14:17] ichasco-heytrade commented on #1085
Ok I will let it opened

[2021-03-01 18:44] mehta-ankit commented on #1083
I agree this is a problem.
Is there a way on the chart to not get default ES_JAVA_OPTS ? If not then with this chart its hard to make use of dynamic heap setting
https://www.elastic.co/guide/en/elasticsearch/reference/7.11/important-settings.html#heap-size-settings

[2021-03-02 01:19] zhu733756 commented on #1083
@mehta-ankit Yeah, this is what i am concerned about. As a supplement, the max memory size of my cluster is 16Gi.  Once exceeded (the memory of the limits resource set to 32Gi),  it brought in  unpredictable problems.

[2021-03-02 05:44] Nimesh36 commented on #783
I was having the same issue. Earlier I have set a password with a length of fewer than 20 characters. but after setting a password with 20 character length in 100s pod status is turn in ready.

[2021-03-02 05:44] Nimesh36 commented on #909
I was having the same issue. Earlier I have set a password with a length of fewer than 20 characters. but after setting a password with 20 character length in 100s pod status is turn in ready.

[2021-03-02 05:44] Nimesh36 commented on #215
I was having the same issue. Earlier I have set a password with a length of fewer than 20 characters. but after setting a password with 20 character length in 100s pod status is turn in ready.

[2021-03-02 05:44] Nimesh36 commented on #374
I was having the same issue. Earlier I have set a password with a length of fewer than 20 characters. but after setting a password with 20 character length in 100s pod status is turn in ready.

[2021-03-02 05:45] Nimesh36 commented on #783
I was having the same issue. Earlier I have set a password with a length of fewer than 20 characters. but after setting a password with 20 character length in 100s pod status is turn in ready.

[2021-03-02 05:45] Nimesh36 commented on #1013
I was having the same issue. Earlier I have set a password with a length of fewer than 20 characters. but after setting a password with 20 character length in 100s pod status is turn in ready.

[2021-03-02 08:46] liabio commented on #474
still valid

[2021-03-02 20:50] Thilaknath commented on #689
@ol-metaswitch How are you setting the vm.max_map_count during the helm install?

[2021-03-03 11:20] jmlrt commented on #1083
Hi, thank you for submitting this issue 👍

[2021-03-03 11:43] jmlrt commented on #1085
Hi @ichasco-heytrade, @xrl,
Elastic charts provide default values and support when used with the same version for chart and application.
This is why the `roles` value is expected to work with Elasticsearch 7.11 but not necessarily with previous versions or OSS version which doesn't exist anymore in 7.11.

That's why we won't update the values and your workaround is the good to handle it on your si

[2021-03-03 12:28] jmlrt commented on #317
Hi, I would really like having a chart for Heartbeat, but unfortunately this is not on the roadmap for now.

[2021-03-03 12:36] jmlrt commented on #1064
Thanks for the proposal, I think we'll need to investigate a bit before creating a PR for that.

[2021-03-03 12:39] #1059 closed

[2021-03-03 14:00] jmlrt commented on #373
Hi @tomskelley-gjs,
No ETA for now but this is now tracked in https://github.com/elastic/helm-charts/issues/1036

[2021-03-03 16:40] xrl commented on #1085
This chart says it supports the 6-series. At the very least it could be documented?

[2021-03-03 16:59] jmlrt commented on #1085
Indeed, that's why we have a different branch for [6.8](https://github.com/elastic/helm-charts/tree/6.8) which doesn't include `ml` and `remote_cluster_client` in default values + tags for every [releases](https://github.com/elastic/helm-charts/releases) and we specify [here](https://github.com/elastic/helm-charts#charts) that you should use an Helm chart version is aligned to the version of the p

[2021-03-03 18:25] yurrriq opened #1090 "[kibana] Chart version 7.11.1 is not backward compatible"
**Chart version:** Upgrading from 7.10.2 to 7.11.1

**Describe the bug:**
#994 broke backward compatibility by [dramatically changing the schema for `ingress.hosts`](https://github.com/elastic/helm-charts/pull/994/files#diff-e1b653a6ed8aa2237ff5a81d6cba9bdc38a0e7a11ddfa28f739a62368f51ed9c). Additionally, this was not mentioned in [BREAKING_CHANGES.md](https://github.com/elastic/helm-charts/blob/ma

[2021-03-04 02:17] zhu733756 commented on #1083
@jmlrt Thanks  for your recognition. I will continue to pay attention to this issue and your pr.

[2021-03-04 02:19] zhu733756 commented on #1083
@jmlrt Thanks for your recognition.

[2021-03-04 02:19] #1083 closed

[2021-03-05 01:44] BenDavidAaron commented on #499
How does one override the default logstash.conf?

[2021-03-06 17:28] jappi00 commented on #317
A Heartbeat Chart would be great :D

[2021-03-07 06:00] gburton1 opened #1091 "Support for multiple volumeClaimTemplates and path.data"
**Describe the feature:**
It would be useful to be able to specify multiple volumeClaimTemplates, which in turn have multiple mount points that are passed into esConfig as `path.data`. This is a valuable mechanism for scaling horizontally.

**Describe a specific use case for the feature:**
[code]
[code]

The usage of those volumes would then be:
[code]

Reason for supporting it: support the Multip

[2021-03-08 05:08] jmlrt commented on #933
still valid

[2021-03-08 15:42] liladler commented on #474
Since secrets are automatically reloaded without restarting the pods, what worked for me is to configure Logstash with a `stringData` Secret while setting `config.reload.automatic: true` in `logstash.yml`

[2021-03-09 07:06] chas0amx commented on #474
@liladler
In chart we have `ConfigMap`, not `Secret`. Is it possible to configure with `Secret`?
![Selection_233](https://user-images.githubusercontent.com/53621461/110431494-8cd36700-80b6-11eb-8609-d87a8e6332f3.png)

[2021-03-10 13:34] predogma commented on #557
We have another customer requesting this.  They basically wanted "...to mount the volume where ES generated certificates for secured ES to Kibana communication."

[2021-03-10 23:38] cokegen commented on #258
I've fixed this issue by grabbing the values.yaml from the helm chart and adding a `securityContext`. The `configure-sysctl` initContainer that comes with the thing already does this:

[code]

[2021-03-11 14:40] davidcharbonnier commented on #1031
Hello @ebuildy,
Seems your PR has been merged, are you able to submit your changes for Logstash chart? I am looking for this feature on my side. Please let me know if you need help with this :)

[2021-03-11 18:28] ebuildy commented on #1031
Also I am thinking (sometimes this happen...), should we add a different service to expose only logstash API (for monitoring purposes)?

[2021-03-15 16:00] vanch opened #1103 "esConfig.elasticsearch.yml values breaks cluster discovery"
**Chart version:** 7.11.2

**Kubernetes version:** 1.19.7

**Kubernetes provider:** Baremetal/VM kubespray on OVH

**Helm Version:** 3.5.3

**`helm get all` output** (helm doesn't allow me bare get method) https://gist.github.com/vanch/ec383243ee92bb34956cc31c9bf4a74d#file-helm-get-release

**Describe the bug:** If you set any value in esConfig.elasticsearch.yml, cluster nodes won't connect togeth

[2021-03-16 18:44] noe-charmet opened #1106 "Network Policy - Additonnal Rule"
Chart version: 7.12

Describe the bug:

In the NetworkPolicy definition, `.Values.networkPolicy.transport.additionalRules` is used in both the `http` and `transport` blocks. The http block should use `.Values.networkPolicy.http.additionalRules` as defined in the `values.yaml` file.

Problematic line:
https://github.com/elastic/helm-charts/blob/90f71e7faa1bd838ce8aff9455e9acae07809625/elasticsearch

[2021-03-16 22:57] iamaverrick opened #1107 "elasticsearch AWS data transfer spike"
**Chart version:**
7.9.3

**Kubernetes version:**
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-21T20:23:45Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.9", GitCommit:"94f372e501c973a7fa9

[2021-03-17 11:50] jmlrt commented on #775
still valid

[2021-03-17 12:39] adrobisch opened #1110 "[elasticsearch] HPA for the clients node group"
**Describe the feature:**
Allow to specify an HPA for the `client` node group of the `elasticsearch` chart.

**Describe a specific use case for the feature:**

This would allow a simple auto-scaling for the client nodes based on a given metric (usually cpu utilization).
We are aware that it would not be a good idea to have metrics based scaling on the data / master nodes and that the clients also

[2021-03-17 13:00] jmlrt commented on #1107
Hi @iamaverrick,
First, I'm sorry for your bill. Few questions:

- Can you provide more details about what leads to think that Elasticsearch is specifically responsible of this data transfers?

- Is there other pods running on the same K8S cluster?

- How many nodes do your K8S cluster have and are there distributed in different AZ or all in the same AZ?

- What is the load on your Elasticsearch (

[2021-03-17 13:07] jmlrt commented on #1106
Hi @noe-charmet, thanks for reporting it, will be fixed in #1111

[2021-03-17 13:12] jmlrt commented on #1103
Hi @vanch,
Thanks for opening this issue.
Unfortunately we currently don't have time to investigate every tickets so please be patient.

[2021-03-17 13:23] jmlrt commented on #1091
Hey @gburton1, Thanks for opening this issue.
We already have https://github.com/elastic/helm-charts/pull/523 for that, but there are discussions coming in Elasticsearch team to know how to handle it (see https://github.com/elastic/helm-charts/pull/523#issuecomment-763014840).

[2021-03-17 14:38] jmlrt commented on #1073
Hi @ebuildy,
Thanks for this example. We usually recommend having Metricbeat in it's own chart instead of a sidecar container. Not being an expert in APM-Server but I think this could be done using the Metricbeat by passing the `metricbeat.yml` config to Metricbeat deployment values (replacing localhost in `http://localhost:5066` by the APM-Server service).

Is there some other benefits of using s

[2021-03-17 15:38] jmlrt commented on #1048
Hey @Vaproc,
This has been already discussed in #409.
Using `--set resources.limits.cpu=null` is working fine for me:

[code]

[2021-03-17 15:42] jmlrt commented on #1048
Setting values in yaml file also seem to work fine:
[code]

Can you post your exact values?

[2021-03-17 16:48] #1031 closed

[2021-03-17 17:02] gburton1 commented on #1091
Thank you! I didn't discover that issue before. And I had no idea that the Multiple Data Paths feature was being considered for deprecation. It seems quite valuable for the reasons described in that ticket, e.g. cloud data volumes have tight IO limits and become very expensive if you try to scale a single volume vertically. I'll follow updates on that ticket now! We can close this ticket completel

[2021-03-17 17:04] #1106 closed

[2021-03-17 23:51] iamaverrick commented on #1107
Hey @jmlrt,

Thank you very your prompt response.

1. Can you provide more details about what leads to think that Elasticsearch is specifically responsible of this data transfers?

- Yes a couple of things actually. this bug took me about 8 months to find. and how i was able to isolate was by doing the following creating a CloudWatch metric for my vpc logs, while using cloudwatch logs insight we r